<pre>
  {{ reviewResDto.value | json }}
  {{ reviewDetails | json }}
</pre>

<div class="m-4">
  <h3>Review Candidate</h3>
  <div *ngFor="let rd of reviewDetails; let i = index">
    <div class="mt-4" *ngIf="rd.questionType === 'Option'">
      <p>Question Option:</p>
      <div class="d-flex gap-4">
        <p>{{ rd.notes }} :</p>
        <p>Score: {{ rd.score }}</p>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <p>Question Essay:</p>
    <div class="d-flex justify-content-center align-items-center flex-column">
      <!-- Candidate Answer -->
      <div
        class="my-3 row align-items-center gy-2 container"
        *ngFor="let qa of questionAndAnswers; let i = index"
      >
        <!-- Essay -->
        <div class="col-12">
          <label for="soal1" class="form-label">{{
            i + 1 + ". " + qa.question
          }}</label>
        </div>
        <div class="col-12">
          <textarea class="form-control" pInputTextarea id="soal1" disabled
            >{{ qa.essayAnswer }}
              </textarea
          >
        </div>
        <!-- Essay -->
      </div>

      <!-- Add Score and Notes -->
      <form [formGroup]="reviewResDto" (ngSubmit)="onSubmit()">
        <div class="my-3 grid align-items-center md:gy-4 gy-2 container">
          <div class="col-12 md:col-3">
            <label for="notes" class="form-label"
              >Notes <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12 md:col-9">
            <input
              type="text"
              pInputTextarea
              class="form-control col-12"
              id="notes"
              placeholder="Input Notes"
              formControlName="notes"
            />
          </div>

          <div class="col-12 md:col-3">
            <label for="score" class="form-label"
              >Score <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12 md:col-9">
            <p-inputNumber
              formControlName="score"
              inputId="score"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            >
            </p-inputNumber>
          </div>

          <div class="col-12 md:col-3">
            <label for="status" class="form-label"
              >Candidate Status <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12 md:col-9">
            <p-dropdown
              [options]="reviewResult"
              optionLabel="resultName"
              optionValue="id"
              formControlName="resultId"
              placeholder="Select Result"
            ></p-dropdown>
          </div>
          <div class="col-12">
            <app-button type="submit" label="Submit"></app-button>
          </div>
          <div class="col-12">
            <app-button
              type="button"
              routerLink="/reviews"
              classBtn="p-button-secondary p-button-text"
              label="Back"
            >
            </app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
