<div class="min-h-screen md:mx-8 sm:mx-6 mx-2">
  <p-toast key="update"></p-toast>
  <app-button
    label="Back"
    icon="pi pi-arrow-left"
    classBtn="p-button-secondary p-button-outlined my-4"
    border=""
    routerLink="/dashboard"
  ></app-button>
  <div class="px-6 shadow-3 py-2 relative">
    <div class="flex flex-column">
      <!-- company img -->
      <div class="flex gap-2 justify-content-end my-3">
        <i
          (click)="changeSavedStatus()"
          [ngClass]="
            isSaved ? 'pi text-2xl pi-bookmark-fill' : 'pi text-2xl pi-bookmark'
          "
          style="cursor: pointer"
          *ngIf="isLogin"
        ></i>
        <i class="pi pi-share-alt text-2xl"></i>
      </div>
      <div class="flex gap-3 mb-2 flex-column md:flex-row">
        <img
          src="{{ companyPhotoId | urlAdmin }}"
          alt="company"
          class="w-15rem h-10rem"
          style="object-fit: cover"
        />
        <div class="flex flex-column w-full">
          <!-- company name -->
          <h1>{{ jobDetail?.companyName }}</h1>
          <!-- company desc -->

          <h3>Company Description</h3>
          <p>
            {{ jobDetail?.companyDesc }}
          </p>
        </div>
      </div>
      <p-divider></p-divider>
      <!-- job title -->
      <p>Open for you:</p>
      <h2>{{ jobDetail?.vacancyTitle }}</h2>

      <div>
        <h4>Details:</h4>
        <div class="flex flex-column gap-2">
          <!-- Degree -->
          <div class="flex">
            <span class="w-10rem">
              <i class="pi pi-user"></i>
              Degree
            </span>
            <span>: {{ jobDetail?.degreeName }}</span>
          </div>

          <!-- Gender -->
          <div class="flex">
            <span class="w-10rem">
              <i class="pi pi-question"></i>
              Gender
            </span>
            <span>: {{ jobDetail?.genderName }}</span>
          </div>

          <!-- Ages -->
          <div class="flex">
            <span class="w-10rem">
              <i class="pi pi-id-card"></i>
              Ages
            </span>
            <span>: {{ jobDetail?.ageVacancyName }}</span>
          </div>

          <!-- Job Type -->
          <div class="flex">
            <span class="w-10rem">
              <i class="pi pi-briefcase"></i>
              Job Type
            </span>
            <span>: {{ jobDetail?.jobTypeName }}</span>
          </div>

          <!-- Payload -->
          <div class="flex">
            <span class="w-10rem">
              <i class="pi pi-money-bill"></i>
              Payload
            </span>
            <span>: {{ jobDetail?.salary }}</span>
          </div>

          <!-- Map -->
          <div class="flex">
            <span class="w-10rem">
              <i class="pi pi-map-marker"></i>
              Location
            </span>
            <span> : {{ jobDetail?.cityName }} </span>
          </div>
        </div>
      </div>

      <p-divider></p-divider>
      <!-- job desc -->
      <div>
        <h4>Description</h4>
        <div [innerHTML]="jobDetail?.description"></div>
      </div>

      <p-divider></p-divider>
      <!-- buttons -->
      <div>
        <p-button
          label="Apply"
          backgroundColor="var(--PRIMARY)"
          (onClick)="showApplyModal()"
        ></p-button>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Header"
  [(visible)]="applyJobModalVisibility"
  styleClass="w-27rem"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold" *ngIf="isLogin">Apply for this job?</span>
    <span class="text-xl font-bold" *ngIf="!isLogin"
      >Oops! You need to sign in first!</span
    >
  </ng-template>
  <div class="flex gap-1 justify-content-end" *ngIf="isLogin">
    <app-button
      btnType="submit"
      label="Apply"
      (clickChange)="applyJob()"
    ></app-button>
    <app-button
      type="button"
      (click)="applyJobModalVisibility = false"
      classBtn="p-button-danger"
      label="Cancel"
    ></app-button>
  </div>
  <div class="flex gap-1 justify-content-start" *ngIf="!isLogin">
    <img src="/assets/login-img.svg" class="md:w-4 w-6" alt="img" />
    <app-button
      label="Click here to login"
      icon="pi pi-arrow-right"
      classBtn="p-button-secondary p-button-outlined my-5"
      border=""
      routerLink="/login"
    ></app-button>
  </div>
</p-dialog>
