<pre>
  {{ candidateAnswers.value | json }}
</pre>

<div
  class="d-flex justify-content-center align-items-center flex-column mt-4 container"
>
  <h3>Questions Candidate</h3>
  <form [formGroup]="candidateAnswers" (ngSubmit)="onSubmit()">
    <!-- Question Candidate -->
    <div class="my-3 grid align-items-start flex-column gy-md-6 gy-2 container">
      <div
        *ngFor="let q of answers.controls; let i = index"
        formArrayName="data"
      >
        <div [formGroupName]="i">
          <div class="col-12">
            <label [for]="i" class="form-label"
              >{{ i + 1 + ". " + questionList[i].question }}
              <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-12">
            <textarea
              *ngIf="!questionList[i].questionOption"
              class="form-control"
              [id]="i"
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="essayAnswer"
            >
            </textarea>

            <div
              *ngFor="let o of questionList[i].questionOption; let j = index"
              class="mb-2"
            >
              <p-radioButton
                [value]="o.id"
                [inputId]="o.id"
                formControlName="questionOptionIdTemp{{ i }}"
                (onClick)="patchOption($event, i)"
              ></p-radioButton>
              <label [for]="o.id" class="ml-2">{{ o.optionLabel }}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <app-button
          type="submit"
          [loading]="loading"
          label="Submit Answer"
        ></app-button>
      </div>
    </div>
  </form>
</div>
