<pre>
  {{ profile.value | json }}
</pre>

<div
  class="flex align-items-center justify-content-center flex-column container mt-4"
>
  <h3>Update User</h3>
  <form [formGroup]="profile" (ngSubmit)="onUpdate()" class="w-10">
    <!-- email -->
    <div class="my-3 grid align-items-center gy-md-4 container gy-3">
      <!-- Photo Profile -->
      <div class="col-12 col-md-3 align-items-start d-flex flex-column">
        <img [src]="imgUrl" alt="profile" class="w-1" />
      </div>
      <div class="col-12 col-md-9">
        <p-fileUpload
          mode="basic"
          chooseLabel="Choose Photo"
          #file
          (onSelect)="fileUpload($event)"
        ></p-fileUpload>
      </div>

      <div class="col-12 col-md-3">
        <label for="email-address" class="form-label">Username</label>
      </div>
      <div class="col-12 col-md-9">
        <!-- disabled -->
        <input
          type="email"
          [value]="profile.get('username')?.value"
          pInputText
          class="form-control col-12"
          id="email-address"
          disabled
        />
        <!-- [value]="profile.username" -->
      </div>

      <!-- fullname -->
      <div class="col-12 col-md-3">
        <label for="fullname" class="form-label"
          >User Fullname <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          formControlName="fullName"
          class="form-control col-12"
          id="fullname"
          pInputText
          placeholder="fullname"
        />
      </div>

      <!-- phoneNumb -->
      <div class="col-12 col-md-3">
        <label for="fullname" class="form-label"
          >Phone Number <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          pInputText
          formControlName="phoneNumb"
          class="form-control col-12"
          id="phoneNumb"
          placeholder="phoneNumb"
        />
      </div>
      <div class="col-12">
        <app-button type="submit" label="Update"></app-button>
      </div>
      <div class="col-12">
        <app-button
          routerLink="/users"
          classBtn="p-button-secondary p-button-text"
          label="Cancel"
        ></app-button>
      </div>
    </div>
  </form>
</div>
