<div class="flex flex-column justify-content-center align-items-center">
  <p class="text-5xl">Profile</p>
  <form [formGroup]="profile" (ngSubmit)="onUpdate()" class="w-10">
    <div class="grid">
      <!-- Photo Profile -->
      <div class="col-12 col-md-3 align-items-start d-flex flex-column">
        <img [src]="imgUrl | urlAdmin" alt="profile" class="w-1" />
      </div>
      <div class="col-12 col-md-9">
        <p-fileUpload
          mode="basic"
          chooseLabel="Choose Photo"
          #file
          (onSelect)="fileUpload($event)"
        ></p-fileUpload>
      </div>

      <div class="col-12">
        <label for="email" class="form-label">Email </label>
      </div>
      <div class="col-12">
        <input
          [value]="profile.get('userEmail')?.value"
          pInputText
          id="email"
          class="w-full"
          disabled
        />
      </div>

      <div class="col-12">
        <label for="name" class="form-label"
          >Name <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12">
        <input
          type="text"
          pInputText
          id="name"
          formControlName="profileName"
          class="w-full"
          required
        />
      </div>

      <div class="col-12">
        <label for="phone" class="form-label">Phone</label>
      </div>
      <div class="col-12">
        <input
          type="text"
          id="phone"
          pInputText
          formControlName="phoneNumber"
          class="w-full"
        />
      </div>

      <div class="col-12">
        <label for="address" class="form-label">Address </label>
      </div>
      <div class="col-12">
        <textarea
          id="address"
          rows="3"
          pInputTextarea
          class="w-full"
          formControlName="profileAddress"
        ></textarea>
      </div>

      <div class="col-12 grid">
        <div class="col-6 grid">
          <div class="col-12">
            <label for="company" class="form-label">Company</label>
          </div>
          <div class="col-12">
            <input
              [value]="profile.get('companyName')?.value"
              type="text"
              id="company"
              pInputText
              class="w-full"
              readonly
            />
          </div>
        </div>

        <div class="col-6 grid">
          <div class="col-12">
            <label for="role" class="form-label">Role</label>
          </div>
          <div class="col-12">
            <input
              [value]="profile.get('roleName')?.value"
              type="text"
              id="role"
              pInputText
              class="w-full"
              readonly
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <app-button
          [loading]="loading"
          label="Update"
          btnType="submit"
          backgroundColor="var(--PRIMARY)"
        ></app-button>

        <app-button
          label="Back"
          btnType="button"
          routerLink="/dashboard"
          classBtn="p-button-outlined p-button-secondary ml-4"
          border=""
        >
        </app-button>
      </div>
    </div>
  </form>
</div>
