<app-button
  label="Back"
  icon="pi pi-arrow-left"
  classBtn="p-button-secondary p-button-outlined my-4 ml-6"
  border=""
  routerLink="/applied-job"
></app-button>
<div class="mx-6 py-2">
  <div class="my-4">
    <p-steps
      [model]="jobStatus"
      [readonly]="false"
      [activeIndex]="activeIndex"
      (activeIndexChange)="onActiveIndexChange($event)"
    ></p-steps>
    <h1 class="text-center">{{ jobStatus[activeIndex].label }}</h1>

    <!-- Application -->
    <div
      *ngIf="activeIndex == 0"
      class="flex justify-content-center align-items-center flex-column"
    >
      <img src="/assets/application.svg" alt="application" />
      <p>Your profile is being reviewed</p>
      <p>Please check your email periodically</p>
    </div>

    <!-- Assesment -->
    <div *ngIf="activeIndex == 1">
      <img src="/assets/assesment.svg" alt="interview-assesment" />
      <p>Great!, you passed the application step</p>
      <p>Please check your email for interview datetime and more details!</p>
    </div>

    <!-- Interview User -->
    <div *ngIf="activeIndex == 2">
      <img src="/assets/interview.svg" alt="interview-assesment" />
      <p>Great!, you passed the assesment step</p>
      <p>Please check your email for interview with user and more details!</p>
    </div>

    <!-- MCU -->
    <div *ngIf="activeIndex == 3">
      <img src="/assets/mcu.svg" alt="interview-assesment" />
      <p>Great!, you passed the interview user step</p>
      <p>Please check your email for interview with user and more details!</p>
    </div>

    <!-- Offering -->
    <div *ngIf="activeIndex == 4">
      <img src="/assets/offering.svg" alt="interview-assesment" />
      <p>
        Congratulations!, you passed the last step, which is the medical check
        up.
      </p>
      <p>Please check your email for the offering letter and more details!</p>
    </div>

    <!-- Hired -->
    <div *ngIf="activeIndex == 5">
      <img src="/assets/hired.svg" alt="interview-assesment" />
      <p>
        Congratulations!, you passed the last step, which is the medical check
        up.
      </p>
      <p>Please check your email for the offering letter and more details!</p>
    </div>
  </div>

  <!-- company img -->
  <div>
    <img src="/assets/company.svg" alt="company" />
  </div>
  <!-- company name -->
  <h2>LiLaine Official</h2>
  <!-- company desc -->
  <p>
    PT. Conviction Group adalah perusahaan baru didaerah Jabodetabek. Sebelumnya
    perusahaan kita sudah berjalan di kota Medan, Pekanbaru dan Batam.
    Perusahaan kita bergerak dalam bidang Event organizer dan menempatkan team
    kita di beberapa SPBU milik Pertamina di indonesia.
  </p>

  <!-- job title -->
  <p>Open for you:</p>
  <h2>Live Host</h2>

  <div>
    <h4>Details:</h4>
    <div class="flex flex-column gap-2">
      <!-- Degree -->
      <div class="flex">
        <span class="w-10rem">
          <i class="pi pi-user"></i>
          Degree
        </span>
        <span>: SMA / SMK</span>
      </div>

      <!-- Gender -->
      <div class="flex">
        <span class="w-10rem">
          <i class="pi pi-question"></i>
          Gender
        </span>
        <span>: Pria / Wanita</span>
      </div>

      <!-- Ages -->
      <div class="flex">
        <span class="w-10rem">
          <i class="pi pi-id-card"></i>
          Ages
        </span>
        <span>: 18-28 tahun</span>
      </div>

      <!-- Job Type -->
      <div class="flex">
        <span class="w-10rem">
          <i class="pi pi-briefcase"></i>
          Job Type
        </span>
        <span>: Full Time</span>
      </div>

      <!-- Payload -->
      <div class="flex">
        <span class="w-10rem">
          <i class="pi pi-money-bill"></i>
          Payload
        </span>
        <span>: 3 - 4 Juta</span>
      </div>

      <!-- Map -->
      <div class="flex">
        <span class="w-10rem">
          <i class="pi pi-map-marker"></i>
          Location
        </span>
        <span>
          : Jakarta Pusat, Jakarta Barat, Jakarta Timur, Jakarta Selatan,
          Jakarta Utara, Bogor, Tangerang, Bekasi, Depok
        </span>
      </div>
    </div>
  </div>

  <!-- job desc -->
  <div>
    <h4>Description</h4>
  </div>
</div>
