<nav>
  <p-menubar
    [model]="navbar"
    [style]="{ 'background-color': 'var(--PRIMARY)' }"
  >
    <ng-template pTemplate="start">
      <img
        src="/assets/logo-light.svg"
        height="30"
        class="mx-2 cursor-pointer logo"
        routerLink="/dashboard"
      />
    </ng-template>
    <ng-template pTemplate="end">
      <div *ngIf="isLogin">
        <p-overlayPanel #op>
          <p-menu [model]="profile"> </p-menu>
        </p-overlayPanel>
        <p-image
          alt="Image"
          width="50"
          (click)="op.toggle($event)"
          [src]="imgUrl"
          class="cursor-pointer border-circle"
        >
        </p-image>
      </div>
      <app-button
        label="Log In"
        backgroundColor="var(--PRIMARY)"
        routerLink="/login"
        *ngIf="!isLogin"
      ></app-button>
    </ng-template>
  </p-menubar>
</nav>
