::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: white;
}

::ng-deep .p-menubar {
  border-radius: 0;
}

::ng-deep .p-menubar svg {
  color: white;
}

::ng-deep .test {
  display: none;
}

@media screen and (max-width: 960px) {
  ::ng-deep .p-menubar .p-menubar-root-list {
    background-color: #89d4f4;
  }

  ::ng-deep .logo {
    display: none;
  }

  ::ng-deep .test {
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
  }
}

::ng-deep .p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  background-color: var(--SECONDARY);
}

::ng-deep .p-menubar .p-submenu-list {
  background-color: var(--SECONDARY);
}

::ng-deep
  .p-menubar
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: white;
}
