<h1>Job Vacancy</h1>

<!-- Filter Jobs -->
<div class="flex justify-content-center align-items-center mb-4">
  <form class="shadow-2 hover:shadow-3 p-2 border-round-xl">
    <div class="flex gap-4 mb-3">
      <input type="text" pInputText placeholder="Find your job type" />
      <p-dropdown optionLabel="location" placeholder="Location"></p-dropdown>
      <p-dropdown optionLabel="degree" placeholder="Degree"></p-dropdown>
    </div>
    <div class="flex gap-3">
      <!-- Job Type -->
      <div class="flex align-items-center">
        <p-radioButton
          name="pizza"
          value="Cheese"
          [(ngModel)]="ingredient"
          inputId="ingredient1"
        ></p-radioButton>
        <label for="ingredient1" class="ml-2">Full Time</label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          name="pizza"
          value="Mushroom"
          [(ngModel)]="ingredient"
          inputId="ingredient2"
        ></p-radioButton>
        <label for="ingredient2" class="ml-2">Part Time</label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          name="pizza"
          value="Pepper"
          [(ngModel)]="ingredient"
          inputId="ingredient3"
        ></p-radioButton>
        <label for="ingredient3" class="ml-2">Internship</label>
      </div>

      <div>
        <app-button
          btnType="submit"
          label="Find Jobs"
          backgroundColor="var(--PRIMARY)"
        ></app-button>
      </div>
    </div>
  </form>
</div>

<h2>Job List</h2>
<!-- Job Vacancies -->
<div class="grid md:mx-6">
  <!-- Job Vacancy Card -->
  <div class="col-12 lg:col-6">
    <p-card class="w-full relative">
      <span class="absolute top-0 right-0 mr-3 mt-3">
        <i class="pi pi-clock"></i>
        Today
      </span>
      <div class="flex flex-row">
        <div class="mr-4">
          <img
            src="/assets/company.svg"
            class="w-10rem sm:w-13rem"
            alt="company"
          />
        </div>
        <div class="flex flex-column w-6 flex-1">
          <!-- Job Vacancy Title -->
          <div
            style="border-bottom: 1px solid black"
            class="flex flex-column row-gap-2 mb-1"
          >
            <span class="text-3xl font-bold">Live Host</span>
            <div>
              <span class="font-semibold">
                <i class="pi pi-building"> </i>
                LiLaine Official
              </span>
            </div>
            <div>
              <span class="font-medium">
                <i class="pi pi-money-bill"></i>
                4-6 Juta / bulan
              </span>
            </div>
          </div>

          <!-- Job Vacancy Detail -->
          <div class="flex column-gap-2 md:column-gap-5 flex-wrap">
            <span>
              <i class="pi pi-user"></i>
              SMA/SMK
            </span>
            <span>
              <i class="pi pi-briefcase"></i>
              Full Time
            </span>
            <span>
              <i class="pi pi-map-marker"></i>
              Jakarta Pusat
            </span>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
