<div class="min-h-screen md:mx-8 sm:mx-6 mx-2">

  <!-- Filter Jobs -->
  <div class="flex justify-content-center align-items-center my-4">
    <form class="shadow-2 hover:shadow-3 p-2 border-round-xl" [formGroup]="searchReq" (ngSubmit)="searchJobs()">
      <div class="flex sm:flex-row flex-column gap-4 mb-3">
        <input type="text" pInputText placeholder="Find your job type" formControlName="vacancyTitle"/>
        <p-dropdown [options]="cities" optionValue="id" optionLabel="cityName" placeholder="Location" formControlName="cityId"></p-dropdown>
        <p-dropdown [options]="degrees" optionValue="id" optionLabel="degreeName" placeholder="Degree" formControlName="degreeId"></p-dropdown>
      </div>
      <div class="flex gap-3">
        <!-- Job Type -->
        <div class="flex align-items-center field-checkbox" *ngFor="let jobType of jobTypes">
          <p-radioButton [inputId]="jobType.id" [value]="jobType"></p-radioButton>
          <label [for]="jobType.id" class="ml-2">{{ jobType.typeName }}</label>
        </div>

        <div>
          <app-button btnType="submit" label="Find Jobs" backgroundColor="var(--PRIMARY)" ></app-button>
        </div>
      </div>
    </form>
  </div>

  <h1 class="text-center my-2">Latest Job</h1>
  <!-- Carousel Job List -->
  <div class="md:mx-8">
    <p-carousel [value]="latestJobs" [numVisible]="4" [numScroll]="4" [circular]="true"
      [responsiveOptions]="responsiveOptions" autoPlayInterval="3000">
      <ng-template let-job pTemplate="item" let-i="rowIndex">
        <div routerLink="/job/{{ job.id }}"
          class="border-3 p-3 surface-border border-round m-2 flex flex-column gap-2 shadow-2 hover:shadow-5 cursor-pointer">
          <div class="mb-3">
            <div>
              <span class="font-bold text-xl">
                {{ job.vacancyTitle }}
              </span>
            </div>
            <div class="flex justify-content-center">
              <img src="{{ job.companyPhotoId | urlAdmin }}" alt="companyLogo" class="md:w-full w-full sm:w-7" />
            </div>
          </div>

          <!-- Company Name -->
          <div class="border-bottom-1">
            <span>
              <i class="pi pi-building"> </i>
              {{ job.companyName }}
            </span>
          </div>
          <!-- Job Req -->
          <div class="border-bottom-1 flex justify-content-between">
            <span>
              <i class="pi pi-user"></i>
              {{ job.degreeName }}
            </span>
            <span>
              <i class="pi pi-briefcase"></i>
              {{ job.jobTypeName }}
            </span>
          </div>

          <!-- Location -->
          <div>
            <span>
              <i class="pi pi-map-marker"></i>
              {{ job.cityName }}
            </span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <h2>Job List</h2>
  <div class="card flex flex-column justify-content-center">
    <div class="grid">
      <div class="col-12 lg:col-6 p-3" *ngFor="let job of allJobs">
        <job-card (clickChange)="toDetail(job.id)" [company]="job.companyName" [companyImg]="job.companyPhotoId"
          [degree]="job.degreeName" [jobType]="job.jobTypeName" [location]="job.cityName"
          [title]="job.vacancyTitle" [salary]="job.salary" [time]="job.createdAt"></job-card>
      </div>
    </div>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rowCounts"
      [totalRecords]="length"></p-paginator>
  </div>
</div>