<!-- <pre>
  {{ test.value | json }}
</pre> -->

<div
  class="flex flex-column justify-content-center align-items-center h-screen"
>
  <h2 class="text-center" style="letter-spacing: 3px">Create Account</h2>
  <div
    class="flex md:flex-row flex-column mx-5 justify-content-center align-items-center column-gap-8"
  >
    <div class="flex-1 flex justify-content-center align-items-center">
      <img src="/assets/register-img.svg" class="md:w-8 w-6" alt="register" />
    </div>

    <form
      class="flex justify-content-center align-items-center flex-1"
      [formGroup]="test"
    >
      <!-- email -->
      <div class="my-3 grid align-items-center">
        <!-- EMAIL STEPPER -->

        <div class="col-12">
          <label
            for="email-address"
            class="form-label font-semibold"
            style="color: var(--PRIMARY)"
            >Username <span class="text-red-600">*</span></label
          >
        </div>
        <div class="col-12 md:col-9">
          <input
            type="email"
            class="form-control col-12"
            id="email-address"
            placeholder="name@example.com"
            pInputText
            formControlName="name"
          />
        </div>
        <div class="col-12">
          <label
            for="password"
            class="form-label font-semibold"
            style="color: var(--PRIMARY)"
            >Password <span class="text-red-600">*</span></label
          >
        </div>
        <div class="col-12 md:col-9">
          <input
            type="password"
            class="form-control col-12"
            id="password"
            pInputText
          />
        </div>

        <!-- Full Name -->
        <div class="col-12">
          <label
            for="fullname"
            class="form-label font-semibold"
            style="color: var(--PRIMARY)"
            >Fullname <span class="text-red-600">*</span></label
          >
        </div>
        <div class="col-12 md:col-9">
          <input
            type="text"
            class="form-control col-12"
            id="fullname"
            pInputText
          />
        </div>

        <div class="col-12">
          <app-button
            type="submit"
            label="Create Account"
            backgroundColor="var(--PRIMARY)"
          >
          </app-button>
        </div>
        <div>
          <a routerLink="/login" class="DARK_COLOR"
            >Already have account? Login here!</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
