<!-- <pre>{{ userInsertReqDto.value | json }}</pre> -->

<div
  class="flex align-items-center justify-content-center flex-column min-h-screen w-10 m-auto"
>
  <h2>Create New User</h2>
  <form [formGroup]="userInsertReqDto" (ngSubmit)="onCreate()">
    <div class="grid">
      <div class="col-12">
        <label for="email">Email <span class="text-red-700">*</span></label>
      </div>
      <div class="col-12">
        <input
          type="email"
          pInputText
          id="email"
          class="w-full"
          required
          formControlName="userEmail"
        />
        <span
          class="text-red-500 ml-2"
          *ngIf="
            userInsertReqDto.get('userEmail')!.invalid &&
            userInsertReqDto.get('userEmail')!.value &&
            (userInsertReqDto.get('userEmail')!.dirty ||
              userInsertReqDto.get('userEmail')!.touched)
          "
          >Input exceeds characters</span
        >
        <span
          class="text-red-500 ml-2"
          *ngIf="
            userInsertReqDto.get('userEmail')!.invalid &&
            !userInsertReqDto.get('userEmail')!.value &&
            (userInsertReqDto.get('userEmail')!.dirty ||
              userInsertReqDto.get('userEmail')!.touched)
          "
          >Input can't be empty</span
        >
      </div>

      <div class="col-12">
        <label for="name" class="form-label"
          >Name <span class="text-red-700">*</span></label
        >
      </div>
      <div class="col-12">
        <input
          type="text"
          pInputText
          id="name"
          class="w-full"
          required
          formControlName="profileName"
        />
        <span
          class="text-red-500 ml-2"
          *ngIf="
            userInsertReqDto.get('profileName')!.invalid &&
            userInsertReqDto.get('profileName')!.value &&
            (userInsertReqDto.get('profileName')!.dirty ||
              userInsertReqDto.get('profileName')!.touched)
          "
          >Input exceeds characters</span
        >
        <span
          class="text-red-500 ml-2"
          *ngIf="
            userInsertReqDto.get('profileName')!.invalid &&
            !userInsertReqDto.get('profileName')!.value &&
            (userInsertReqDto.get('profileName')!.dirty ||
              userInsertReqDto.get('profileName')!.touched)
          "
          >Input can't be empty</span
        >
      </div>

      <div class="col-12">
        <label for="company" class="form-label"
          >Company <span class="text-red-700">*</span></label
        >
      </div>
      <div class="col-12">
        <p-dropdown
          [options]="companies"
          optionLabel="companyName"
          placeholder="Select company..."
          optionValue="id"
          styleClass="w-full"
          formControlName="companyId"
        ></p-dropdown>
      </div>

      <div class="col-12">
        <label for="role" class="form-label"
          >Role <span class="text-red-700">*</span></label
        >
      </div>
      <div class="col-12">
        <p-dropdown
          [options]="roles"
          optionLabel="roleName"
          placeholder="Select role..."
          optionValue="id"
          styleClass="w-full"
          formControlName="roleId"
        ></p-dropdown>
      </div>
    </div>
    <div class="mt-2">
      <app-button
        [loading]="loading"
        label="Create"
        backgroundColor="var(--PRIMARY)"
        btnType="Submit"
        [isDisabled]="!userInsertReqDto.valid"
      ></app-button>
      <app-button
        label="Back"
        routerLink="/users"
        border=""
        classBtn="p-button-outlined p-button-secondary ml-3"
      >
      </app-button>
    </div>
  </form>
</div>
