::ng-deep .p-badge.p-badge-success,
::ng-deep .p-button.p-fileupload-choose {
  background-color: var(--PRIMARY);
  border: none;
}

::ng-deep
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem.p-highlight
  .p-menuitem-link {
  color: var(--PRIMARY);
  border-color: var(--PRIMARY);
}
