::ng-deep .p-badge.p-badge-success,
::ng-deep .p-button.p-fileupload-choose {
  background-color: var(--PRIMARY);
  border: none;
}

::ng-deep
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem.p-highlight
  .p-menuitem-link {
  color: var(--PRIMARY);
  border-color: var(--PRIMARY);
}

::ng-deep .p-card .p-card-body {
  min-width: 80vw;
  margin-bottom: 2rem;
}

::ng-deep .DELETE {
  position: absolute;
  top: -1.4rem;
  right: -1.4rem;
}
