<!-- <pre>
  {{ profile.value | json }}
</pre>
<pre>
  {{ educationsReqDto.value | json }}
</pre>

<pre>
  {{ experiencesReqDto.value | json }}
</pre>

<pre>
  {{ documentsArr.value | json }}
</pre> -->

<div
  class="flex align-items-center justify-content-center flex-column container mt-4"
>
  <h2>Update Profile</h2>

  <!-- Form for Update Profile -->
  <ng-container>
    <form [formGroup]="profile" (ngSubmit)="onUpdate()" class="w-10">
      <!-- email -->
      <div class="my-3 grid align-items-center gy-md-4 container gy-3">
        <!-- Photo Profile -->
        <div class="col-12 col-md-3 align-items-start d-flex flex-column">
          <img [src]="imgUrl | urlCandidate" alt="profile" class="w-1" />
        </div>
        <div class="col-12 col-md-9">
          <p-fileUpload
            mode="basic"
            chooseLabel="Choose Photo"
            #file
            (onSelect)="fileUpload($event, file)"
          ></p-fileUpload>
        </div>

        <!-- Username -->
        <div class="col-12 col-md-3">
          <label for="email-address" class="form-label">Username</label>
        </div>
        <div class="col-12 col-md-9">
          <!-- disabled -->
          <input
            type="email"
            [value]="profile.get('candidateEmail')?.value"
            pInputText
            class="form-control col-12"
            id="email-address"
            disabled
          />
        </div>

        <!-- fullname -->
        <div class="col-12 col-md-3">
          <label for="fullname" class="form-label"
            >User Fullname <span class="text-red-600">*</span></label
          >
        </div>
        <div class="col-12 col-md-9">
          <input
            type="text"
            class="form-control col-12"
            id="fullname"
            pInputText
            required
            formControlName="profileName"
          />
        </div>

        <!-- Address -->
        <div class="col-12 col-md-3">
          <label for="address" class="form-label">Address </label>
        </div>
        <div class="col-12 col-md-9">
          <textarea
            rows="5"
            id="address"
            cols="20"
            pInputTextarea
            class="form-control col-12"
            [value]="profile.get('profileAddress')?.value"
            placeholder="jl. xxx"
            formControlName="profileAddress"
          ></textarea>
        </div>

        <!-- phoneNumb -->
        <div class="col-12 col-md-3">
          <label for="phoneNumb" class="form-label">Phone Number </label>
        </div>
        <div class="col-12 col-md-9">
          <input
            type="text"
            pInputText
            [value]="profile.get('phoneNumber')?.value"
            class="form-control col-12"
            id="phoneNumb"
            placeholder="08xxxxx"
            formControlName="phoneNumber"
          />
        </div>

        <!-- Expected Salary -->
        <div class="col-12 col-md-3">
          <label for="salary" class="form-label">Expected Salary </label>
        </div>
        <div class="col-12 col-md-9">
          <input
            type="text"
            pInputText
            formControlName="expectedSalary"
            class="form-control col-12"
            id="salary"
            placeholder="Rp. 4.000.000"
          />
        </div>

        <div class="grid col-12">
          <div class="col-12 grid sm:col-6">
            <div class="col-12 md:col-6 grid">
              <!-- Gender -->
              <div class="col-12 col-md-3">
                <label for="gender" class="form-label">Gender </label>
              </div>
              <div class="col-12 col-md-9">
                <p-dropdown
                  [options]="genders"
                  id="genderId"
                  optionValue="genderId"
                  optionLabel="genderName"
                  formControlName="genderId"
                ></p-dropdown>
              </div>
            </div>

            <div class="col-12 md:col-6 grid">
              <!-- Nationality -->
              <div class="col-12 col-md-3">
                <label for="nationality" class="form-label">Nationality </label>
              </div>
              <div class="col-12 col-md-9">
                <p-dropdown
                  [options]="nationalities"
                  id="nationalityName"
                  optionLabel="nationalityName"
                  optionValue="id"
                  formControlName="nationalityId"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-12 sm:col-6 grid">
            <div class="col-12 md:col-6 grid">
              <!-- Marital Status -->
              <div class="col-12 col-md-3">
                <label for="marital" class="form-label">Marital Status </label>
              </div>
              <div class="col-12 col-md-9">
                <p-dropdown
                  [options]="maritals"
                  id="maritalName"
                  optionValue="id"
                  optionLabel="maritalName"
                  formControlName="maritalId"
                ></p-dropdown>
              </div>
            </div>

            <div class="col-12 md:col-6 grid">
              <!-- Religion -->
              <div class="col-12 col-md-3">
                <label for="religion" class="form-label">Religion </label>
              </div>
              <div class="col-12 col-md-9">
                <p-dropdown
                  [options]="religions"
                  id="religionName"
                  optionLabel="religionName"
                  optionValue="id"
                  formControlName="religionId"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <!-- Update button -->
        <div class="col-12">
          <app-button
            btnType="submit"
            backgroundColor="var(--PRIMARY)"
            label="Update"
          ></app-button>
        </div>
        <div class="col-12">
          <app-button
            btnType="button"
            routerLink="/dashboard"
            classBtn="p-button-secondary p-button-text"
            border=""
            label="Cancel"
          ></app-button>
        </div>
      </div>
    </form>

    <!-- Educations -->
    <div class="w-10">
      <div class="border border-bottom-2 flex justify-content-between">
        <h2>Education</h2>
        <app-button
          label="Add"
          classBtn="p-button-success p-button-text"
          (click)="showModalEducation()"
        ></app-button>
      </div>

      <div
        *ngIf="educationsData?.length == 0"
        class="mt-3 h-4rem flex justify-content-center align-items-center"
      >
        <h3>No Education added yet</h3>
      </div>

      <div class="mt-3" *ngIf="educationsData?.length">
        <div class="flex flex-row-reverse mb-3">
          <app-button
            *ngIf="!isDeleteEducation"
            icon="pi pi-trash"
            label="Delete Education"
            classBtn="p-button-outlined p-button-danger"
            border=""
            (clickChange)="showDeleteEducation()"
          >
          </app-button>

          <app-button
            *ngIf="isDeleteEducation"
            icon="pi pi-chevron-left"
            label="Cancel Delete"
            classBtn="p-button-outlined p-button-secondary"
            border=""
            (clickChange)="hideDeleteEducation()"
          >
          </app-button>
        </div>
        <div *ngFor="let e of educationsData">
          <p-card
            class="relative mb-2"
            [header]="e.degreeId"
            styleClass="shadow-2 hover:shadow-4"
          >
            <div>
              <h3>
                {{ e.majorId }}
              </h3>
            </div>
            <div>
              <h4>
                {{ e.institutionName }}
              </h4>
            </div>
            <div>
              <p class="w-5">
                {{ e.institutionAddress }}
              </p>
            </div>
            <ng-template pTemplate="footer">
              <p>{{ e.startYear }} - {{ e.endYear }}</p>
            </ng-template>

            <div class="absolute top-0 right-0 mr-2 mt-2">
              <p>GPA: {{ e.gpa }}</p>
            </div>

            <div
              class="absolute bottom-0 right-0 mr-2 mb-2"
              *ngIf="isDeleteEducation"
            >
              <app-button
                icon="pi pi-times"
                classBtn="p-button-rounded p-button-danger p-button-outlined"
                border=""
                pTooltip="Delete Education"
                [showDelay]="1000"
                (clickChange)="showDeleteFuncEducation()"
              >
              </app-button>
            </div>
          </p-card>
        </div>
      </div>
    </div>

    <!-- Experiences -->
    <div class="w-10">
      <div class="border border-bottom-2 flex justify-content-between">
        <h2>Experience</h2>
        <app-button
          label="Add"
          classBtn="p-button-success p-button-text"
          (clickChange)="showModalExperience()"
        ></app-button>
      </div>
      <div *ngIf="experiencesData?.length" class="mt-3">
        <div class="flex flex-row-reverse mb-3">
          <app-button
            *ngIf="!isDeleteExperience"
            icon="pi pi-trash"
            label="Delete Experience"
            classBtn="p-button-outlined p-button-danger"
            border=""
            (clickChange)="showDeleteExperience()"
          >
          </app-button>

          <app-button
            *ngIf="isDeleteExperience"
            icon="pi pi-chevron-left"
            label="Cancel Delete"
            classBtn="p-button-outlined p-button-secondary"
            border=""
            (clickChange)="hideDeleteExperience()"
          >
          </app-button>
        </div>
        <div *ngFor="let e of experiencesData">
          <p-card
            class="relative mb-2"
            [header]="e.formerPosition"
            styleClass="shadow-2 hover:shadow-4"
          >
            <div>
              <h3>
                {{ e.formerPosition }}
              </h3>
            </div>
            <div>
              <h4>
                {{ e.formerInstitution }}
              </h4>
            </div>
            <div>
              <p class="w-5">
                {{ e.formerLocation }}
              </p>
            </div>
            <div>
              <p>Job Desc:</p>
              <div [innerHTML]="e.formerJobdesc"></div>
            </div>
            <ng-template pTemplate="footer">
              <p>{{ e.startDate }} - {{ e.endDate }}</p>
            </ng-template>

            <div
              class="absolute bottom-0 right-0 mr-2 mb-2"
              *ngIf="isDeleteExperience"
            >
              <app-button
                icon="pi pi-times"
                classBtn="p-button-rounded p-button-danger p-button-outlined"
                border=""
                (clickChange)="showDeleteFuncExperience()"
              >
              </app-button>
            </div>
          </p-card>
        </div>
      </div>

      <div
        *ngIf="experiencesData?.length == 0"
        class="mt-3 h-4rem flex justify-content-center align-items-center"
      >
        <h3>No Experience added yet</h3>
      </div>
    </div>

    <!-- Skills -->
    <div class="w-10">
      <div class="border border-bottom-2 flex justify-content-between">
        <h2>Skills</h2>
        <app-button
          label="Add"
          classBtn="p-button-success p-button-text"
          (clickChange)="showModalSkill()"
        ></app-button>
      </div>

      <div>
        <!-- Skills -->
        <div
          class="mt-4 flex justify-content-start gap-5 flex-wrap align-items-start"
        >
          <div *ngFor="let s of skillsData; let i = index">
            <div class="flex">
              <div class="relative">
                <p-badge
                  [value]="s.skillName"
                  size="large"
                  severity="success"
                ></p-badge>
                <div class="DELETE">
                  <app-button
                    icon="pi pi-times"
                    classBtn="p-button-rounded p-button-danger p-button-text p-button-sm"
                    border=""
                    (click)="showDeleteModalSkill(s.skillId)"
                  ></app-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="skillsData?.length == 0"
          class="mt-3 h-4rem flex justify-content-center align-items-center"
        >
          <h3>No Skill added yet</h3>
        </div>
      </div>
    </div>

    <!-- Documents -->
    <div class="w-10">
      <div class="border border-bottom-2 flex justify-content-between">
        <h2>Documents</h2>
        <app-button
          label="Add"
          classBtn="p-button-success p-button-text"
          (clickChange)="showModalDocuments()"
        ></app-button>
      </div>
      <div>
        <div *ngFor="let d of documentsData">
          <a [href]="d.fileId | urlCandidate" target="_blank">{{
            d.typeName
          }}</a>
        </div>
      </div>

      <div
        *ngIf="documentsData?.length == 0"
        class="mt-3 h-4rem flex justify-content-center align-items-center"
      >
        <h3>No Documents added yet</h3>
      </div>
    </div>
  </ng-container>
</div>

<!-- Modal for Add Education -->
<p-dialog
  header="Add Education"
  [(visible)]="modalEducation"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="education">
      <!-- Input New Education -->

      <!-- Institution Name -->
      <div class="col-12 col-md-3">
        <label for="institution-name" class="form-label"
          >Institution Name <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          formControlName="institutionName"
          pInputText
          class="form-control col-12"
          id="institution-name"
          required
        />
      </div>

      <div class="grid col-12">
        <!-- Start Year -->
        <div class="grid col-6">
          <div class="col-12">
            <label for="startYear" class="form-label"
              >Start Year <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12">
            <p-calendar
              formControlName="startYearTemp"
              id="startYear"
              view="year"
              dateFormat="yy"
              [required]="true"
              (onSelect)="convertStartYear($event)"
            ></p-calendar>
          </div>
        </div>

        <!-- End Year -->
        <div class="grid col-6">
          <div class="col-12">
            <label for="endYear" class="form-label"
              >End Year <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12">
            <p-calendar
              formControlName="endYearTemp"
              id="endYear"
              view="year"
              dateFormat="yy"
              [required]="true"
              (onSelect)="convertEndYear($event)"
            ></p-calendar>
          </div>
        </div>
      </div>
      <!-- Address -->
      <div class="col-12 col-md-3">
        <label for="address-education" class="form-label"
          >Address <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <textarea
          class="col-12"
          id="address-education"
          rows="5"
          cols="30"
          required
          pInputTextarea
          formControlName="institutionAddress"
        ></textarea>
      </div>

      <!-- Degree -->
      <div class="col-12 col-md-3">
        <label for="degree" class="form-label"
          >Degree <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <p-dropdown
          [options]="degree"
          id="degree"
          optionLabel="degreeName"
          optionValue="id"
          [required]="true"
          placeholder="Select Degree"
          formControlName="degreeId"
        ></p-dropdown>
      </div>

      <!-- Majors -->
      <div class="col-12 col-md-3">
        <label for="majors" class="form-label"
          >Majors <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <p-dropdown
          [options]="majors"
          id="majors"
          optionLabel="majorName"
          optionValue="id"
          [required]="true"
          placeholder="Select Major"
          formControlName="majorId"
        ></p-dropdown>
      </div>

      <!-- GPA -->
      <div class="col-12 col-md-3">
        <label for="gpa" class="form-label"
          >GPA <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="number"
          formControlName="gpa"
          pInputText
          required
          class="form-control col-12"
          id="gpa"
        />
      </div>

      <div class="mt-4">
        <app-button
          type="submit"
          label="Add"
          classBtn="p-button-success"
          (click)="onCreateEducation()"
        >
        </app-button>
        <app-button
          type="button"
          classBtn="p-button-outlined p-button-secondary ml-4"
          border=""
          data-bs-dismiss="modal"
          label="Cancel"
          (click)="onCloseEducation()"
        >
        </app-button>
      </div>
    </form>
  </div>
</p-dialog>

<!-- Modal for Add Experience -->
<p-dialog
  header="Add Experience"
  [(visible)]="modalExperience"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="experience">
      <!-- Input New Experience -->

      <!-- Institution Name -->
      <div class="col-12 col-md-3">
        <label for="institution-name-experience" class="form-label"
          >Institution Name <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          formControlName="formerInstitution"
          pInputText
          class="form-control col-12"
          id="institution-name-experience"
          required
        />
      </div>

      <!-- Position -->
      <div class="col-12 col-md-3">
        <label for="position" class="form-label"
          >Position <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          formControlName="formerPosition"
          pInputText
          required
          class="form-control col-12"
          id="position"
        />
      </div>

      <!-- Dates -->
      <div class="grid col-12">
        <!-- Start Year -->
        <div class="grid col-6">
          <div class="col-12">
            <label for="startDate" class="form-label"
              >Start Date <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12">
            <p-calendar
              formControlName="startDateTemp"
              id="startDate"
              [required]="true"
              view="year"
              view="month"
              dateFormat="mm/yy"
              (onSelect)="convertStartDate($event)"
            ></p-calendar>
          </div>
        </div>

        <!-- End Year -->
        <div class="grid col-6">
          <div class="col-12">
            <label for="endDate" class="form-label"
              >End Date <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12">
            <p-calendar
              formControlName="endDateTemp"
              id="endDate"
              view="year"
              view="month"
              dateFormat="mm/yy"
              [required]="true"
              (onSelect)="convertEndDate($event)"
            ></p-calendar>
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="col-12 col-md-3">
        <label for="address-experience" class="form-label"
          >Address <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <textarea
          class="col-12"
          rows="5"
          cols="30"
          id="address-experience"
          required
          pInputTextarea
          formControlName="formerLocation"
        ></textarea>
      </div>

      <div class="col-12">
        <label for="jobdesc" class="form-label"
          >Job Description <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12">
        <p-editor
          formControlName="formerJobdesc"
          required="true"
          id="jobdesc"
          [style]="{ height: '320px' }"
        >
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <!-- Add font size dropdown -->
              <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
            </span>
            <span class="ql-formats">
              <span
                class="ql-color ql-picker ql-color-picker"
                aria-label="Bold"
              >
                <select class="ql-color"></select>
              </span>
              <span
                class="ql-background ql-picker ql-color-picker"
                aria-label="Bold"
              >
                <select class="ql-background"></select>
              </span>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="bullet" type="button"></button>
            </span>
          </ng-template>
               </p-editor
        >
      </div>
    </form>

    <div class="mt-4">
      <app-button
        type="submit"
        data-bs-dismiss="modal"
        label="Add"
        classBtn="p-button-success"
        (click)="onCreateExperience()"
      >
      </app-button>
      <app-button
        type="button"
        classBtn="p-button-outlined p-button-secondary ml-4"
        border=""
        data-bs-dismiss="modal"
        label="Cancel"
        (click)="onCloseExperience()"
      >
      </app-button>
    </div>
  </div>
</p-dialog>

<!-- Modal for Add Custom Skills -->
<p-dialog
  header="Add Skills"
  [(visible)]="modalSkill"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-dialog modal-dialog-centered h-25rem">
    <form [formGroup]="skillsReqDto">
      <!-- Input New Skill -->
      <div class="col-12 col-md-3">
        <label for="new-skill" class="form-label"
          >Input Skills <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <p-dropdown
          [options]="skills"
          formControlName="skillId"
          [filter]="true"
          placeholder="Select a Skill"
          [editable]="true"
          optionValue="id"
          optionLabel="skillName"
        ></p-dropdown>
      </div>
    </form>
    <div class="mt-4">
      <app-button
        type="submit"
        data-bs-dismiss="modal"
        label="Add"
        classBtn="p-button-success"
        (click)="onCreateSkill()"
      >
      </app-button>
      <app-button
        type="button"
        classBtn="p-button-outlined p-button-secondary ml-4"
        border=""
        data-bs-dismiss="modal"
        label="Cancel"
        (click)="onCloseSkill()"
      >
      </app-button>
    </div>
  </div>
</p-dialog>

<!-- Modal for Add Documents -->
<p-dialog
  header="Add Documents"
  [(visible)]="modalDocuments"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="documents">
      <div
        class="my-3 grid col-12 justify-content-center align-items-center md:gy-4 gy-3 container"
      >
        <div
          *ngFor="let f of documentsArr.controls; let i = index"
          formArrayName="data"
          class="grid col-12"
        >
          <div class="col-12 md:col-6">
            <label for="cv" class="form-label"
              >Input {{ f.value.name }}
              <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12 md:col-6">
            <p-fileUpload
              mode="basic"
              chooseLabel="Choose File"
              #file
              (onSelect)="documentsUpload($event, i)"
            ></p-fileUpload>
          </div>
        </div>
      </div>
    </form>
    <div class="mt-4">
      <app-button
        type="submit"
        data-bs-dismiss="modal"
        label="Add"
        classBtn="p-button-success"
        (click)="onInsertDocuments()"
      >
      </app-button>
      <app-button
        type="button"
        classBtn="p-button-outlined p-button-secondary ml-4"
        border=""
        data-bs-dismiss="modal"
        label="Cancel"
        (click)="modalDocuments = false"
      >
      </app-button>
    </div>
  </div>
</p-dialog>

<!-- Diupdate lagi kalo udah masuk ke db buat delete per education -->
<p-dialog
  header="Are you sure want to delete this Education?"
  [(visible)]="modalDeleteEducation"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="footer">
    <app-button
      label="Yes"
      classBtn="p-button-outlined p-button-danger"
      border=""
    >
    </app-button>

    <app-button
      label="Cancel"
      classBtn="p-button-outlined p-button-secondary"
      (click)="modalDeleteEducation = false"
      border=""
    >
    </app-button>
  </ng-template>
</p-dialog>

<!-- Diupdate lagi kalo udah masuk ke db buat delete per skill -->
<p-dialog
  header="Are you sure want to delete this Skill?"
  [(visible)]="modalDeleteSkill"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="footer">
    <app-button
      label="Yes"
      classBtn="p-button-outlined p-button-danger"
      border=""
      (click)="deleteSkill()"
    >
    </app-button>

    <app-button
      label="Cancel"
      classBtn="p-button-outlined p-button-secondary"
      (click)="hideDeleteModalSkill()"
      border=""
    >
    </app-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Are you sure want to delete this Experience?"
  [(visible)]="modalDeleteExperience"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="footer">
    <app-button
      label="Yes"
      classBtn="p-button-outlined p-button-danger"
      border=""
    >
    </app-button>

    <app-button
      label="Cancel"
      classBtn="p-button-outlined p-button-secondary"
      (click)="modalDeleteExperience = false"
      border=""
    >
    </app-button>
  </ng-template>
</p-dialog>
