<pre>
  {{ profile.value | json }}
</pre>
<pre>
  {{ educationsReqDto.value | json }}
</pre>

<pre>
  {{ experiencesReqDto.value | json }}
</pre>

<div
  class="flex align-items-center justify-content-center flex-column container mt-4"
>
  <h2>Update Profile</h2>

  <!-- <p-tabMenu
    [scrollable]="true"
    [model]="menus"
    [activeItem]="activeMenu"
    (activeItemChange)="onActiveItemChange($event)"
  ></p-tabMenu> -->

  <!-- Form for Update Profile -->
  <ng-container *ngIf="activeMenu?.label === 'Profile'">
    <form [formGroup]="profile" (ngSubmit)="onUpdate()" class="w-10">
      <!-- email -->
      <div class="my-3 grid align-items-center gy-md-4 container gy-3">
        <!-- Photo Profile -->
        <div class="col-12 col-md-3 align-items-start d-flex flex-column">
          <img [src]="imgUrl" alt="profile" class="w-1" />
        </div>
        <div class="col-12 col-md-9">
          <p-fileUpload
            mode="basic"
            chooseLabel="Choose Photo"
            #file
            (onSelect)="fileUpload($event)"
          ></p-fileUpload>
        </div>

        <!-- Username -->
        <div class="col-12 col-md-3">
          <label for="email-address" class="form-label">Username</label>
        </div>
        <div class="col-12 col-md-9">
          <!-- disabled -->
          <input
            type="email"
            [value]="profile.get('username')?.value"
            pInputText
            class="form-control col-12"
            id="email-address"
            disabled
          />
        </div>

        <!-- fullname -->
        <div class="col-12 col-md-3">
          <label for="fullname" class="form-label"
            >User Fullname <span class="text-red-600">*</span></label
          >
        </div>
        <div class="col-12 col-md-9">
          <input
            type="text"
            class="form-control col-12"
            id="fullname"
            pInputText
            placeholder="fullname"
          />
        </div>

        <!-- Address -->
        <div class="col-12 col-md-3">
          <label for="address" class="form-label"
            >Address <span class="text-red-600">*</span></label
          >
        </div>
        <div class="col-12 col-md-9">
          <textarea
            rows="5"
            id="address"
            cols="20"
            pInputTextarea
            class="form-control col-12"
            placeholder="jl. xxx"
          ></textarea>
        </div>

        <!-- phoneNumb -->
        <div class="col-12 col-md-3">
          <label for="phoneNumb" class="form-label"
            >Phone Number <span class="text-red-600">*</span></label
          >
        </div>
        <div class="col-12 col-md-9">
          <input
            type="text"
            pInputText
            class="form-control col-12"
            id="phoneNumb"
            placeholder="08xxxxx"
          />
        </div>

        <!-- Expected Salary -->
        <div class="col-12 col-md-3">
          <label for="salary" class="form-label"
            >Expected Salary <span class="text-red-600">*</span></label
          >
        </div>
        <div class="col-12 col-md-9">
          <input
            type="text"
            pInputText
            class="form-control col-12"
            id="salary"
            placeholder="Rp. 4.000.000"
          />
        </div>

        <div class="grid col-12">
          <div class="col-12 grid sm:col-6">
            <div class="col-12 md:col-6 grid">
              <!-- Gender -->
              <div class="col-12 col-md-3">
                <label for="gender" class="form-label"
                  >Gender <span class="text-red-600">*</span></label
                >
              </div>
              <div class="col-12 col-md-9">
                <p-dropdown
                  [options]="genders"
                  id="gender"
                  optionLabel="name"
                ></p-dropdown>
              </div>
            </div>

            <div class="col-12 md:col-6 grid">
              <!-- Nationality -->
              <div class="col-12 col-md-3">
                <label for="nationality" class="form-label"
                  >Nationality <span class="text-red-600">*</span></label
                >
              </div>
              <div class="col-12 col-md-9">
                <p-dropdown
                  [options]="nationalities"
                  id="nationality"
                  optionLabel="name"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-12 sm:col-6 grid">
            <div class="col-12 md:col-6 grid">
              <!-- Marital Status -->
              <div class="col-12 col-md-3">
                <label for="marital" class="form-label"
                  >Marital Status <span class="text-red-600">*</span></label
                >
              </div>
              <div class="col-12 col-md-9">
                <p-dropdown
                  [options]="maritals"
                  id="martial"
                  optionLabel="name"
                ></p-dropdown>
              </div>
            </div>

            <div class="col-12 md:col-6 grid">
              <!-- Religion -->
              <div class="col-12 col-md-3">
                <label for="religion" class="form-label"
                  >Religion <span class="text-red-600">*</span></label
                >
              </div>
              <div class="col-12 col-md-9">
                <p-dropdown
                  [options]="religions"
                  id="religion"
                  optionLabel="name"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <!-- Update button -->
        <div class="col-12">
          <app-button
            btnType="submit"
            backgroundColor="var(--PRIMARY)"
            label="Update"
          ></app-button>
        </div>
        <div class="col-12">
          <app-button
            btnType="button"
            routerLink="/dashboard"
            classBtn="p-button-secondary p-button-text"
            label="Cancel"
          ></app-button>
        </div>
      </div>
    </form>

    <!-- Educations -->
    <div class="w-10">
      <div class="border border-bottom-2 flex justify-content-between">
        <h2>Education</h2>
        <app-button
          label="Add"
          classBtn="p-button-success p-button-text"
          (click)="showModalEducation()"
        ></app-button>
      </div>
      <div class="mt-3" *ngIf="educations.controls.length">
        <div class="flex flex-row-reverse mb-3">
          <app-button
            *ngIf="!isDeleteEducation"
            icon="pi pi-trash"
            label="Delete Education"
            classBtn="p-button-outlined p-button-danger"
            border=""
            (clickChange)="showDeleteEducation()"
          >
          </app-button>

          <app-button
            *ngIf="isDeleteEducation"
            icon="pi pi-chevron-left"
            label="Cancel Delete"
            classBtn="p-button-outlined p-button-secondary"
            border=""
            (clickChange)="hideDeleteEducation()"
          >
          </app-button>
        </div>
        <div *ngFor="let e of educations.controls">
          <p-card
            class="relative mb-2"
            [header]="e.value.degreeId"
            styleClass="shadow-2 hover:shadow-4"
          >
            <div>
              <h3>
                {{ e.value.majorsId }}
              </h3>
            </div>
            <div>
              <h4>
                {{ e.value.institutionName }}
              </h4>
            </div>
            <div>
              <p class="w-5">
                {{ e.value.address }}
              </p>
            </div>
            <ng-template pTemplate="footer">
              <p>{{ e.value.startYear }} - {{ e.value.endYear }}</p>
            </ng-template>

            <div class="absolute top-0 right-0 mr-2 mt-2">
              <p>GPA: {{ e.value.GPA }}</p>
            </div>

            <div
              class="absolute bottom-0 right-0 mr-2 mb-2"
              *ngIf="isDeleteEducation"
            >
              <app-button
                icon="pi pi-times"
                classBtn="p-button-rounded p-button-danger p-button-outlined"
                border=""
                (clickChange)="showDeleteFuncEducation()"
              >
              </app-button>
            </div>
          </p-card>
        </div>
      </div>
    </div>

    <!-- Experiences -->
    <div class="w-10">
      <div class="border border-bottom-2 flex justify-content-between">
        <h2>Experience</h2>
        <app-button
          label="Add"
          classBtn="p-button-success p-button-text"
          (clickChange)="showModalExperience()"
        ></app-button>
      </div>
      <div *ngFor="let e of experiences.controls" class="mt-3">
        <div class="flex flex-row-reverse mb-3">
          <app-button
            *ngIf="!isDeleteExperience"
            icon="pi pi-trash"
            label="Delete Experience"
            classBtn="p-button-outlined p-button-danger"
            border=""
            (clickChange)="showDeleteExperience()"
          >
          </app-button>

          <app-button
            *ngIf="isDeleteExperience"
            icon="pi pi-chevron-left"
            label="Cancel Delete"
            classBtn="p-button-outlined p-button-secondary"
            border=""
            (clickChange)="hideDeleteExperience()"
          >
          </app-button>
        </div>

        <p-card
          class="relative mb-2"
          [header]="e.value.degreeId"
          styleClass="shadow-2 hover:shadow-4"
        >
          <div>
            <h3>
              {{ e.value.position }}
            </h3>
          </div>
          <div>
            <h4>
              {{ e.value.institutionName }}
            </h4>
          </div>
          <div>
            <p class="w-5">
              {{ e.value.location }}
            </p>
          </div>
          <div>
            <p>Job Desc:</p>
            <div [innerHTML]="e.value.jobDesc"></div>
          </div>
          <ng-template pTemplate="footer">
            <p>{{ e.value.startDate }} - {{ e.value.endDate }}</p>
          </ng-template>

          <div
            class="absolute bottom-0 right-0 mr-2 mb-2"
            *ngIf="isDeleteExperience"
          >
            <app-button
              icon="pi pi-times"
              classBtn="p-button-rounded p-button-danger p-button-outlined"
              border=""
              (clickChange)="showDeleteFuncExperience()"
            >
            </app-button>
          </div>
        </p-card>
      </div>
    </div>

    <!-- Skills -->
    <div class="w-10">
      <div class="border border-bottom-2 flex justify-content-between">
        <h2>Skills</h2>
        <app-button
          label="Add"
          classBtn="p-button-success p-button-text"
          (clickChange)="showModalExperience()"
        ></app-button>
      </div>

      <!-- Skills -->
      <div class="col-12 col-md-3">
        <label for="custom-skill" class="form-label"
          >Skills <span class="text-red-600">*</span></label
        >
      </div>
      <div
        class="col-12 grid"
        *ngFor="let s of skill.controls; let i = index"
        formArrayName="skill"
      >
        <div class="col-3">
          <p-badge [value]="s.value" size="xlarge" severity="success"></p-badge>
        </div>
        <div class="col-3">
          <app-button
            icon="pi pi-times"
            classBtn="p-button-danger p-button-outlined"
            border=""
            (click)="removeSkill(i)"
          ></app-button>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <app-button
          btnType="button"
          classBtn="p-button-success"
          label="Add"
          (click)="showModalSkill()"
        ></app-button>
      </div>
    </div>
  </ng-container>
</div>

<!-- Modal for Add Education -->
<p-dialog
  header="Add Education"
  [(visible)]="modalEducation"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <!-- <pre>
      {{ education.value | json }}
    </pre> -->
    <form [formGroup]="education">
      <!-- Input New Education -->

      <!-- Institution Name -->
      <div class="col-12 col-md-3">
        <label for="institution-name" class="form-label"
          >Institution Name <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          formControlName="institutionName"
          pInputText
          class="form-control col-12"
          id="institution-name"
        />
      </div>

      <div class="grid col-12">
        <!-- Start Year -->
        <div class="grid col-6">
          <div class="col-12">
            <label for="startYear" class="form-label"
              >Start Year <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12">
            <p-calendar
              formControlName="startYearTemp"
              id="startYear"
              (onSelect)="convertStartYear($event)"
            ></p-calendar>
          </div>
        </div>

        <!-- End Year -->
        <div class="grid col-6">
          <div class="col-12">
            <label for="endYear" class="form-label"
              >End Year <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12">
            <p-calendar
              formControlName="endYearTemp"
              id="endYear"
              (onSelect)="convertEndYear($event)"
            ></p-calendar>
          </div>
        </div>
      </div>
      <!-- Address -->
      <div class="col-12 col-md-3">
        <label for="address" class="form-label"
          >Address <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <textarea
          class="col-12"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="address"
        ></textarea>
      </div>

      <!-- Degree -->
      <div class="col-12 col-md-3">
        <label for="degree" class="form-label"
          >Degree <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <p-dropdown
          [options]="degree"
          id="degree"
          optionLabel="name"
          optionValue="name"
          placeholder="Select Degree"
          formControlName="degreeId"
        ></p-dropdown>
      </div>

      <!-- Majors -->
      <div class="col-12 col-md-3">
        <label for="majors" class="form-label"
          >Majors <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <p-dropdown
          [options]="majors"
          id="majors"
          optionLabel="name"
          optionValue="name"
          placeholder="Select Major"
          formControlName="majorsId"
        ></p-dropdown>
      </div>

      <!-- GPA -->
      <div class="col-12 col-md-3">
        <label for="gpa" class="form-label"
          >GPA <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="number"
          formControlName="GPA"
          pInputText
          class="form-control col-12"
          id="gpa"
        />
      </div>
    </form>

    <div class="mt-4">
      <app-button
        type="submit"
        data-bs-dismiss="modal"
        label="Submit"
        classBtn="p-button-success"
        (click)="onCreateEducation()"
      >
      </app-button>
      <app-button
        type="button"
        classBtn="p-button-outlined p-button-secondary ml-4"
        border=""
        data-bs-dismiss="modal"
        label="Cancel"
        (click)="onCloseEducation()"
      >
      </app-button>
    </div>
  </div>
</p-dialog>

<!-- Modal for Add Experience -->
<p-dialog
  header="Add Experience"
  [(visible)]="modalExperience"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <pre>
      {{ experience.value | json }}
    </pre>
    <form [formGroup]="experience">
      <!-- Input New Experience -->

      <!-- Institution Name -->
      <div class="col-12 col-md-3">
        <label for="institution-name" class="form-label"
          >Institution Name <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          formControlName="institutionName"
          pInputText
          class="form-control col-12"
          id="institution-name"
        />
      </div>

      <!-- Position -->
      <div class="col-12 col-md-3">
        <label for="position" class="form-label"
          >Position <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          formControlName="position"
          pInputText
          class="form-control col-12"
          id="position"
        />
      </div>

      <!-- Dates -->
      <div class="grid col-12">
        <!-- Start Year -->
        <div class="grid col-6">
          <div class="col-12">
            <label for="startDate" class="form-label"
              >Start Date <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12">
            <p-calendar
              formControlName="startDateTemp"
              id="startDate"
              (onSelect)="convertStartDate($event)"
            ></p-calendar>
          </div>
        </div>

        <!-- End Year -->
        <div class="grid col-6">
          <div class="col-12">
            <label for="endDate" class="form-label"
              >End Date <span class="text-red-600">*</span></label
            >
          </div>
          <div class="col-12">
            <p-calendar
              formControlName="endDateTemp"
              id="endDate"
              (onSelect)="convertEndDate($event)"
            ></p-calendar>
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="col-12 col-md-3">
        <label for="address" class="form-label"
          >Address <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <textarea
          class="col-12"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="location"
        ></textarea>
      </div>

      <div class="col-12">
        <label for="jobdesc" class="form-label"
          >Job Description <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12">
        <p-editor formControlName="jobDesc" [style]="{ height: '320px' }">
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <!-- Add font size dropdown -->
              <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
            </span>
            <span class="ql-formats">
              <span
                class="ql-color ql-picker ql-color-picker"
                aria-label="Bold"
              >
                <select class="ql-color"></select>
              </span>
              <span
                class="ql-background ql-picker ql-color-picker"
                aria-label="Bold"
              >
                <select class="ql-background"></select>
              </span>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="bullet" type="button"></button>
            </span>
          </ng-template>
               </p-editor
        >
      </div>
    </form>

    <div class="mt-4">
      <app-button
        type="submit"
        data-bs-dismiss="modal"
        label="Add"
        classBtn="p-button-success"
        (click)="onCreateExperience()"
      >
      </app-button>
      <app-button
        type="button"
        classBtn="p-button-outlined p-button-secondary ml-4"
        border=""
        data-bs-dismiss="modal"
        label="Cancel"
        (click)="onCloseExperience()"
      >
      </app-button>
    </div>
  </div>
</p-dialog>

<!-- Modal for Add Custom Skills -->
<p-dialog
  header="Add Skills"
  [(visible)]="modalSkill"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="insertSkill">
      <!-- Input New Skill -->
      <div class="col-12 col-md-3">
        <label for="new-skill" class="form-label"
          >Input Skills <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          formControlName="name"
          pInputText
          class="form-control col-12"
          id="new-skill"
        />
      </div>
    </form>
    <div class="mt-4">
      <app-button
        type="submit"
        data-bs-dismiss="modal"
        label="Submit"
        (click)="onCreateSkill()"
      >
      </app-button>
      <app-button
        type="button"
        classBtn="p-button-secondary ml-4"
        data-bs-dismiss="modal"
        label="Cancel"
        (click)="onCloseSkill()"
      >
      </app-button>
    </div>
  </div>
</p-dialog>

<!-- Diupdate lagi kalo udah masuk ke db buat delete per education -->
<p-dialog
  header="Are you sure want to delete this Education?"
  [(visible)]="modalDeleteEducation"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="footer">
    <app-button
      label="Yes"
      classBtn="p-button-outlined p-button-danger"
      border=""
    >
    </app-button>

    <app-button
      label="Cancel"
      classBtn="p-button-outlined p-button-secondary"
      (click)="modalDeleteEducation = false"
      border=""
    >
    </app-button>
  </ng-template>
</p-dialog>

<!-- Diupdate lagi kalo udah masuk ke db buat delete per experience -->
<p-dialog
  header="Are you sure want to delete this Experience?"
  [(visible)]="modalDeleteExperience"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="footer">
    <app-button
      label="Yes"
      classBtn="p-button-outlined p-button-danger"
      border=""
    >
    </app-button>

    <app-button
      label="Cancel"
      classBtn="p-button-outlined p-button-secondary"
      (click)="modalDeleteExperience = false"
      border=""
    >
    </app-button>
  </ng-template>
</p-dialog>
