<div class="mx-7 mt-5">
  <p-table
    #dt1
    [value]="hiredEmployees"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['candidateName', 'companyName']"
    selectionMode="single"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-gridlines p-datatable-striped mt-2"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex flex-column md:flex-row lg:flex-row md:align-items-center"
      >
        <h2>Hired Employee List</h2>
        <div class="m-0 md:ml-auto flex flex-column">
          <div class="p-input-icon-left mt-2">
            <i class="pi pi-search"></i>
            <input
              class="w-full"
              pInputText
              type="text"
              (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search"
            />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" class="md:col-1">No.</th>
        <th pSortableColumn="candidateName" scope="col" class="md:col-3">
          <div class="flex align-items-center">
            Employee Name
            <p-sortIcon field="candidateName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="jobTypeName" scope="col" class="md:col-2">
          <div class="flex align-items-center">
            Job Type
            <p-sortIcon field="jobTypeName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="levelName" scope="col" class="md:col-2">
          <div class="flex align-items-center">
            Level
            <p-sortIcon field="code"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="vacancyTitle" scope="col" class="md:col-2">
          <div class="flex align-items-center">
            Job Title
            <p-sortIcon field="vacancyTitle"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="createdAt" scope="col" class="md:col-2">
          <div class="flex align-items-center">
            Hired At
            <p-sortIcon field="createdAt" pReorderableColumn></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hiredEmployee let-i="rowIndex">
      <tr style="cursor: pointer">
        <td>{{ i + 1 }}</td>
        <td>{{ hiredEmployee.candidateName }}</td>
        <td>{{ hiredEmployee.jobTypeName }}</td>
        <td>{{ hiredEmployee.levelName }}</td>
        <td>{{ hiredEmployee.vacancyTitle }}</td>
        <td>{{ hiredEmployee.createdAt }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
