<!-- <pre>
  {{ userPasswordDto.value | json }}
</pre> -->

<div
  class="flex align-items-center justify-content-center flex-column min-h-screen"
>
  <h3>Change Password</h3>
  <form [formGroup]="userPasswordDto" (ngSubmit)="onSubmit()" class="w-10">
    <!-- Change Password -->
    <div class="grid align-items-center">
      <!-- old password -->
      <div class="col-12 col-md-3">
        <label for="oldpassword" class="form-label"
          >Old Password <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="password"
          class="form-control col-12"
          id="oldpassword"
          placeholder="Old Password"
          pInputText
          formControlName="oldPassword"
        />
      </div>

      <!-- new password -->
      <div class="col-12 col-md-3">
        <label for="newpassword" class="form-label"
          >New Password <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="password"
          class="form-control col-12"
          pInputText
          id="newpassword"
          placeholder="New Password"
          formControlName="newPassword"
        />
      </div>

      <!-- confirm new password -->
      <div class="col-12 col-md-3">
        <label for="confirmnewpassword" class="form-label"
          >Confirm New Password <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="password"
          class="form-control col-12"
          pInputText
          id="confirmnewpassword"
          placeholder="New Password"
          formControlName="confirmNewPassword"
        />
      </div>
      <div class="col-12">
        <app-button
          label="Change Password"
          backgroundColor="var(--PRIMARY)"
          btnType="submit"
        ></app-button>

        <app-button
          label="Back"
          btnType="button"
          routerLink="/dashboard"
          classBtn="ml-4 p-button-outlined p-button-secondary"
          border=""
        ></app-button>
      </div>
    </div>
  </form>
</div>
