<!-- buat hr -->
<div class="min-h-screen w-10 m-auto">
  <app-button
    label="Back"
    routerLink="/job-vacancies"
    icon="pi pi-angle-left"
    border=""
    classBtn="p-button-outlined p-button-secondary"
  >
  </app-button>

  <div class="justify-content-center">
    <h1>Isi data job detail</h1>
  </div>

  <p-table
    #dt1
    [value]="appliedVacancies"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'candidateName',
      'candidateEmail',
      'statusName',
      'progressName'
    ]"
    selectionMode="single"
    styleClass="p-datatable-gridlines p-datatable-striped "
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:align-items-center">
        <h2>Applied Vacancy List</h2>
        <div class="p-input-icon-left m-0 md:ml-auto flex mt-3 md:mt-0">
          <i class="pi pi-search"></i>
          <input
            class="w-full"
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search"
          />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" class="md:col-1">No.</th>
        <th scope="col" class="md:col-4">
          <div class="flex align-items-center">
            Candidate Name
            <p-columnFilter
              type="text"
              field="candidateName"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th scope="col" class="md:col-4">
          <div class="flex align-items-center">
            Date
            <p-columnFilter
              type="text"
              field="candidateEmail"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th scope="col" class="md:col-1">
          <div class="flex align-items-center">
            Status
            <p-columnFilter
              type="text"
              field="statusName"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th scope="col" class="md:col-4">
          <div class="flex align-items-center">
            Progress
            <p-columnFilter
              type="text"
              field="progressName"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-appliedVacancy let-i="rowIndex">
      <tr routerLink="applied/{{ i + 1 }}" style="cursor: pointer">
        <td>{{ i + 1 }}</td>
        <td>{{ appliedVacancy.profileName }}</td>
        <td>{{ appliedVacancy.candidateEmail }}</td>
        <td>
          <p-tag
            [value]="appliedVacancy.statusName"
            [severity]="getStatusSeverity(appliedVacancy.statusName)"
          ></p-tag>
        </td>
        <td>
          <p-tag
            [value]="appliedVacancy.progressName"
            [severity]="getStatusSeverity(appliedVacancy.progressName)"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
