<!-- buat hr -->
<div class="min-h-screen w-10 m-auto mt-5">
  <app-button
    label="Back"
    routerLink="/job-vacancies"
    icon="pi pi-angle-left"
    border=""
    classBtn="p-button-outlined p-button-secondary mb-3"
  >
  </app-button>

  <div *ngIf="jobVacancy">
    <!-- <h1>{{ jobVacancy.vacancyTitle }}</h1> -->
    <div class="grid">
      <div class="grid col-6">
        <div class="col-4">
          <p>Job Title</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.vacancyTitle }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>Degree</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.degreeName }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>Job Type</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.jobTypeName }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>Job Level</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.levelName }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>City</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.cityName }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>Salary</p>
        </div>
        <div class="col-8">
          <p>: Rp. {{ jobVacancy.salary }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>Start Date</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.startDate }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>End Date</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.endDate }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>Gender</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.genderName }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>Status</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.statusName }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>PIC HR</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.hrName }}</p>
        </div>
      </div>
      <div class="grid col-6">
        <div class="col-4">
          <p>PIC User</p>
        </div>
        <div class="col-8">
          <p>: {{ jobVacancy.userName }}</p>
        </div>
      </div>
      <div class="col-2">Description</div>
      <div class="col-10 flex">
        :
        <div [innerHTML]="jobVacancy.description"></div>
      </div>
    </div>
  </div>

  <p-table
    #dt1
    [value]="appliedVacancies"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['profileName', 'statusName', 'progressName']"
    selectionMode="single"
    styleClass="p-datatable-gridlines p-datatable-striped"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:align-items-center">
        <h2>Applied Vacancy List</h2>
        <div class="p-input-icon-left m-0 md:ml-auto flex mt-3 md:mt-0">
          <i class="pi pi-search"></i>
          <input
            class="w-full"
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search"
          />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" class="md:col-1">No.</th>
        <th pSortableColumn="profileName" scope="col" class="md:col-4">
          <div class="flex align-items-center">
            Candidate Name
            <p-sortIcon field="profileName"> </p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="createdAt" scope="col" class="md:col-4">
          <div class="flex align-items-center">
            Applied Time
            <p-sortIcon field="createdAt"> </p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="progressName" scope="col" class="md:col-4">
          <div class="flex align-items-center">
            Progress
            <p-sortIcon field="progressName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="statusName" scope="col" class="md:col-1">
          <div class="flex align-items-center">
            Status
            <p-sortIcon field="statusName"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-appliedVacancy let-i="rowIndex">
      <tr routerLink="applied/{{ appliedVacancy.id }}" style="cursor: pointer">
        <td>{{ i + 1 }}</td>
        <td>{{ appliedVacancy.profileName }}</td>
        <td>{{ appliedVacancy.createdAt | timeAgo }}</td>
        <td>
          <p-tag
            [value]="appliedVacancy.progressName"
            [style]="{
              background: getProgressColor(appliedVacancy.progressCode)
            }"
          ></p-tag>
        </td>
        <td>
          <p-tag
            [value]="appliedVacancy.statusName"
            [style]="{
              background: getStatusColor(appliedVacancy.statusCode)
            }"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
