<!-- buat hr -->
<div class="min-h-screen w-10 m-auto">
  <app-button
    label="Back"
    routerLink="/job-vacancies"
    icon="pi pi-angle-left"
    border=""
    classBtn="p-button-outlined p-button-secondary my-3"
  >
  </app-button>
  <div class="px-6 shadow-3 py-2 relative">
    <ng-container *ngIf="jobVacancy">
      <div class="flex flex-column md:flex-row justify-content-between my-2">
        <h3>Job Vacancy Detail</h3>
        <div class="flex gap-2 flex-wrap">
          <p-button
            routerLink="/questions/{{ jobVacancy.vacancyId }}"
            icon="pi pi-plus"
            label="Add Questions"
            styleClass="m-auto p-button-success"
          ></p-button>
          <p-button
            (onClick)="toEdit()"
            icon="pi pi-pencil"
            label="Edit"
            styleClass="m-auto p-button-warning"
          ></p-button>
          <p-button
            icon="pi pi-eye"
            label="Preview"
            styleClass="m-auto"
            (onClick)="showPreviewModal(previewModal)"
          ></p-button>
        </div>
      </div>
      <p-divider></p-divider>
      <h1 class="text-center">{{ jobVacancy.vacancyTitle }}</h1>
      <h3 class="text-center text-green-500" *ngIf="getAvailableStatus()">
        Opened at : {{ jobVacancy.startDate }}
      </h3>
      <h3 class="text-center text-red-500" *ngIf="!getAvailableStatus()">
        Closed at : {{ jobVacancy.endDate }}
      </h3>
      <p-divider></p-divider>
      <div class="flex flex-column gap-3">
        <h3 class="mt-2">Filter by progress:</h3>
        <div class="flex gap-3 justify-content-center flex-wrap my-3">
          <p-button
            *ngFor="let qty of appliedVacancyPerProgressQty"
            [style]="{
              background: getProgressColor(qty.progressCode)
            }"
            label="{{ qty.progressName + '(' + qty.appliedCount + ')' }}"
            (onClick)="getAppliedByProgressId(qty.progressId)"
            class="white-space-nowrap"
          ></p-button>
        </div>
      </div>
    </ng-container>
    <p-table
      #dt1
      [value]="appliedVacancies"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['profileName', 'statusName', 'progressName']"
      selectionMode="single"
      styleClass="p-datatable-gridlines p-datatable-striped mt-2"
    >
      <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:align-items-center">
          <h3>Applied Candidate</h3>
          <div class="p-input-icon-left m-0 md:ml-auto flex mt-3 md:mt-0">
            <i class="pi pi-search"></i>
            <input
              class="w-full"
              pInputText
              type="text"
              (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search"
            />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" class="md:col-1">No.</th>
          <th pSortableColumn="profileName" scope="col" class="md:col-4">
            <div class="flex align-items-center">
              Candidate Name
              <p-sortIcon field="profileName"> </p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="createdAt" scope="col" class="md:col-4">
            <div class="flex align-items-center">
              Applied Time
              <p-sortIcon field="createdAt"> </p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="progressName" scope="col" class="md:col-4">
            <div class="flex align-items-center">
              Progress
              <p-sortIcon field="progressName"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="statusName" scope="col" class="md:col-1">
            <div class="flex align-items-center">
              Status
              <p-sortIcon field="statusName"></p-sortIcon>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-appliedVacancy let-i="rowIndex">
        <tr
          routerLink="applied/{{ appliedVacancy.id }}"
          style="cursor: pointer"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ appliedVacancy.profileName }}</td>
          <td>{{ appliedVacancy.createdAt | timeAgo }}</td>
          <td>
            <p-tag
              [value]="appliedVacancy.progressName"
              [style]="{
                background: getProgressColor(appliedVacancy.progressCode)
              }"
            ></p-tag>
          </td>
          <td>
            <p-tag
              [value]="appliedVacancy.statusName"
              [style]="{
                background: getStatusColor(appliedVacancy.statusCode)
              }"
            ></p-tag>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  #previewModal
  header="Header"
  [(visible)]="previewModalVisibility"
  styleClass="w-27rem"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Preview</span>
  </ng-template>

  <ng-container *ngIf="jobVacancy">
    <job-preview
      #jobPreview
      [ageVacancyName]="jobVacancy!.ageVacancyName"
      [cityName]="jobVacancy.cityName"
      [companyDesc]="jobVacancy.companyDesc"
      [companyName]="jobVacancy.companyName"
      [companyPhotoId]="jobVacancy.companyPhotoId"
      [degreeName]="jobVacancy.degreeName"
      [description]="jobVacancy.description"
      [genderName]="jobVacancy.genderName"
      [jobTypeName]="jobVacancy.jobTypeName"
      [salary]="jobVacancy.salary"
      [vacancyTitle]="jobVacancy.vacancyTitle"
    ></job-preview>
  </ng-container>
</p-dialog>
