<div class="min-h-screen md:mx-8 sm:mx-6 mx-2">
  <div class="flex justify-content-center align-items-center flex-column">
    <img src="/assets/saved-job.svg" alt="saved" />
    <h2>Saved Jobs</h2>
  </div>
  <!-- Job Vacancies -->

  <div class="grid">
    <!-- Job Vacancy Card -->
    <div class="col-12" *ngFor="let sv of savedVacancies">
      <job-card (clickChange)="toDetail(sv.vacancyId)" [company]="sv.companyName" [companyImg]="sv.companyPhotoId" [degree]="sv.degreeName"
        [jobType]="sv.jobTypeName" [location]="sv.cityName" [title]="sv.vacancyTitle" [salary]="sv.salary" ></job-card>
    </div>
  </div>
</div>
