<div class="mx-7 p-3">
    <h1>
        Applied : Accounting
    </h1>
    <div class="grid">
        <div class="md:col-3">
            <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250"></p-image>
        </div>
        <div class="md:col-9">
            <div class="grid align-items-center mx-2 my-0">
                <div class="md:col-2">Name</div>
                <div class="md:col-4"><input pInputText readonly value="Rendy" class="w-10"></div>
                <div class="md:col-2">Email</div>
                <div class="md:col-4"><input pInputText readonly value="rdarma2000@gmail.com" class="w-10"></div>
                <div class="md:col-2">Phone Number</div>
                <div class="md:col-4"><input pInputText readonly value="08999999999" class="w-10"></div>  
                <div class="md:col-2">Gender</div>
                <div class="md:col-4"><input pInputText readonly value="Male" class="w-10"></div>  
                <div class="md:col-2">Nationality</div>
                <div class="md:col-4"><input pInputText readonly value="Indonesia" class="w-10"></div>  
                <div class="md:col-2">Religion</div>
                <div class="md:col-4"><input pInputText readonly value="Islam" class="w-10"></div> 
            </div>
        </div>
    </div>
</div>