::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: #89d4f4;
  color: white;
}

::ng-deep .p-steps ul {
  flex-wrap: wrap;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: var(--PRIMARY);
  border-color: var(--PRIMARY);
}

::ng-deep .p-badge.p-badge-success,
::ng-deep .p-button.p-fileupload-choose {
  background-color: var(--PRIMARY);
  border: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: var(--PRIMARY);
}

::ng-deep .p-selectbutton .p-button.p-highlight {
  background-color: var(--PRIMARY);
}

ng::deep
  p-component-overlay
  p-datepicker-mask
  p-datepicker-mask-scrollblocker
  p-component-overlay-enter
  ng-tns-c185893541-6 {
  z-index: 0 !important;
}
