<div class="min-h-screen w-10 m-auto mt-5">
  <app-button
    label="Back"
    routerLink="/job-vacancies/{{ jobVacancyId }}"
    icon="pi pi-angle-left"
    border=""
    classBtn="p-button-outlined p-button-secondary my-4"
  >
  </app-button>

  <p-card>
    <div class="flex justify-content-between mb-4">
      <h1>test</h1>
      <p-dropdown
        [options]="progressStatusDropdown"
        [(ngModel)]="selectedProgress"
        [placeholder]="appliedVacancyCandidateDetails?.appliedProgress"
        optionLabel="name"
        (onChange)="showDialog(selectedProgress)"
      ></p-dropdown>
    </div>

    <p-steps
      [model]="progressStatus"
      [readonly]="true"
      [activeIndex]="activeIndex"
      styleClass="mb-4"
    ></p-steps>

    <ng-container *ngIf="appliedVacancyCandidateDetails">
      <div>
        <p class="text-2xl">
          Applied: {{ appliedVacancyCandidateDetails.jobTitle }}
        </p>
      </div>

      <div class="mt-4 grid">
        <div
          class="flex justify-content-center align-items-center flex-column gap-3 col-3"
        >
          <img
            [src]="appliedVacancyCandidateDetails.photoId | urlAdmin"
            alt="profilePhoto"
            class="w-10rem"
          />
          <p>{{ appliedVacancyCandidateDetails.candidateName }}</p>
        </div>
        <div class="col-9 grid">
          <!-- Phone Number -->
          <div class="col-6 grid">
            <div class="col-12">
              <span>Phone Number</span>
            </div>
            <div class="col-12">
              <input
                pInputText
                type="text"
                [value]="appliedVacancyCandidateDetails.phoneNumber"
                readonly
              />
            </div>
          </div>

          <!-- Expected Salary -->
          <div class="col-6 grid">
            <div class="col-12">
              <span>Expected Salary</span>
            </div>
            <div class="col-12">
              <input
                pInputText
                type="text"
                value="Rp. {{ appliedVacancyCandidateDetails.expectedSalary }}"
                readonly
              />
            </div>
          </div>

          <!-- Nationality -->
          <div class="col-6 grid">
            <div class="col-12">
              <span>Nationality</span>
            </div>
            <div class="col-12">
              <input
                pInputText
                type="text"
                [value]="appliedVacancyCandidateDetails.nationalityName"
                readonly
              />
            </div>
          </div>

          <!-- Gender -->
          <div class="col-6 grid">
            <div class="col-12">
              <span>Gender</span>
            </div>
            <div class="col-12">
              <input
                pInputText
                type="text"
                value="{{ appliedVacancyCandidateDetails.genderName }}"
                readonly
              />
            </div>
          </div>

          <!-- Marital -->
          <div class="col-6 grid">
            <div class="col-12">
              <span>Marital</span>
            </div>
            <div class="col-12">
              <input
                pInputText
                type="text"
                [value]="appliedVacancyCandidateDetails.maritalName"
                readonly
              />
            </div>
          </div>

          <!-- Religion -->
          <div class="col-6 grid">
            <div class="col-12">
              <span>Religion</span>
            </div>
            <div class="col-12">
              <input
                pInputText
                type="text"
                value="{{ appliedVacancyCandidateDetails.religionName }}"
                readonly
              />
            </div>
          </div>

          <!-- Address -->
          <div class="col-12 grid">
            <div class="col-12">
              <span>Address</span>
            </div>
            <div class="col-12">
              <textarea
                rows="3"
                cols="50"
                pInputTextarea
                value="{{ appliedVacancyCandidateDetails.profileAddress }}"
                readonly
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </p-card>
</div>

<div class="flex flex-row-reverse m-7">
  <!-- Modal Assessment -->
  <p-dialog
    header="Move To Assessment"
    [(visible)]="assessmentModal"
    [modal]="true"
    [style]="{ width: '90vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <pre>{{ assessmentVacancyInsertReqDto.value | json }}</pre>
    <pre>{{ appliedVacancyUpdateProgressReqDto.value | json }}</pre>
    <form
      [formGroup]="assessmentVacancyInsertReqDto"
      (ngSubmit)="submit(selectedProgress)"
    >
      <div class="grid">
        <div class="col-12">
          <div class="grid">
            <div class="md:col-6 col-12">
              <div class="col-12">Start Date</div>
              <div class="col-12">
                <p-calendar
                  (onSelect)="convertStartDate($event, selectedProgress)"
                  styleClass="md:col-10 col-12 m-0 p-0"
                  [showTime]="true"
                  formControlName="startDateTemp"
                ></p-calendar>
              </div>
            </div>
            <div class="md:col-6 col-12">
              <div class="col-12">End Date</div>
              <div class="col-12">
                <p-calendar
                  (onSelect)="convertEndDate($event, selectedProgress)"
                  styleClass="md:col-10 col-12 m-0 p-0"
                  [showTime]="true"
                  formControlName="endDateTemp"
                ></p-calendar>
              </div>
            </div>
          </div>
          <div class="col-12">With Question</div>
          <div class="col-12 flex">
            <!-- <div *ngFor="let isQuestion of isQuestions" class="mr-4 mb-2">
              <p-radioButton
                [inputId]="isQuestion.label"
                [value]="isQuestion.value"
                [label]="isQuestion.label"
                formControlName="isQuestion"
              ></p-radioButton>
            </div> -->
          </div>
          <div class="col-12">Note</div>
          <div class="col-12">
            <textarea
              pInputTextarea
              class="w-full"
              formControlName="notes"
            ></textarea>
          </div>
          <div class="col-12">Location</div>
          <div class="col-12">
            <textarea
              pInputTextarea
              class="w-full"
              formControlName="assessmentLocation"
            ></textarea>
          </div>
          <div class="col-12">
            <app-button
              label="Submit"
              btnType="submit"
              backgroundColor="var(--PRIMARY)"
            ></app-button>

            <app-button
              label="Cancel"
              btnType="button"
              classBtn="p-button-outlined p-button-secondary ml-4"
              border=""
              (click)="assessmentModal = false"
            ></app-button>
          </div>
        </div>
      </div>
    </form>
  </p-dialog>

  <!-- Modal Interview -->
  <p-dialog
    header="Move To Interview"
    [(visible)]="interviewModal"
    [modal]="true"
    [style]="{ width: '90vw', height: '95vh' }"
    [draggable]="false"
    [resizable]="false"
  >
    <!-- <pre>{{ interviewVacancyInsertReqDto.value | json }}</pre> -->
    <form
      [formGroup]="interviewVacancyInsertReqDto"
      (ngSubmit)="submit(selectedProgress)"
    >
      <div class="grid">
        <div class="col-12">
          <div class="grid">
            <div class="md:col-6 col-12">
              <div class="col-12">Start Date</div>
              <div class="col-12">
                <p-calendar
                  (onSelect)="convertStartDate($event, selectedProgress)"
                  styleClass="md:col-10 col-12 m-0 p-0"
                  [showTime]="true"
                  formControlName="startDateTemp"
                ></p-calendar>
              </div>
            </div>
            <div class="md:col-6 col-12">
              <div class="col-12">End Date</div>
              <div class="col-12">
                <p-calendar
                  (onSelect)="convertEndDate($event, selectedProgress)"
                  styleClass="md:col-10 col-12 m-0 p-0"
                  [showTime]="true"
                  formControlName="endDateTemp"
                ></p-calendar>
              </div>
            </div>
          </div>
          <div class="col-12">Note</div>
          <div class="col-12">
            <textarea
              pInputTextarea
              class="w-full"
              formControlName="notes"
            ></textarea>
          </div>
          <div class="col-12">Location</div>
          <div class="col-12">
            <textarea
              pInputTextarea
              class="w-full"
              formControlName="interviewLocation"
            ></textarea>
          </div>
          <div class="col-12">
            <app-button
              label="Submit"
              btnType="submit"
              backgroundColor="var(--PRIMARY)"
            ></app-button>

            <app-button
              label="Cancel"
              btnType="button"
              classBtn="p-button-outlined p-button-secondary ml-4"
              border=""
              (click)="interviewModal = false"
            ></app-button>
          </div>
        </div>
      </div>
    </form>
  </p-dialog>

  <!-- Modal Medical Checkup -->
  <p-dialog
    header="Move To Medical Checkup"
    [(visible)]="mcuModal"
    [modal]="true"
    [style]="{ width: '90vw', height: '90vh' }"
    [draggable]="false"
    [resizable]="false"
  >
    <!-- <pre>{{ mcuVacancyInsertReqDto.value | json }}</pre> -->
    <form
      [formGroup]="mcuVacancyInsertReqDto"
      (ngSubmit)="submit(selectedProgress)"
    >
      <div class="grid">
        <div class="col-12">
          <div class="grid">
            <div class="md:col-6 col-12">
              <div class="col-12">Start Date</div>
              <div class="col-12">
                <p-calendar
                  (onSelect)="convertStartDate($event, selectedProgress)"
                  styleClass="md:col-10 col-12 m-0 p-0"
                  [showTime]="true"
                  formControlName="startDateTemp"
                ></p-calendar>
              </div>
            </div>
            <div class="md:col-6 col-12">
              <div class="col-12">End Date</div>
              <div class="col-12">
                <p-calendar
                  (onSelect)="convertEndDate($event, selectedProgress)"
                  styleClass="md:col-10 col-12 m-0 p-0"
                  [showTime]="true"
                  formControlName="endDateTemp"
                ></p-calendar>
              </div>
            </div>
            <div class="col-12">
              <app-button
                label="Submit"
                btnType="submit"
                backgroundColor="var(--PRIMARY)"
              ></app-button>

              <app-button
                label="Cancel"
                btnType="button"
                classBtn="p-button-outlined p-button-secondary ml-4"
                border=""
                (click)="mcuModal = false"
              ></app-button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </p-dialog>

  <!-- Modal Offering -->
  <p-dialog
    header="Move To Offering"
    [(visible)]="offeringModal"
    [modal]="true"
    [style]="{ width: '90vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <pre>{{ offeringInsertReqDto.value | json }}</pre>
    <form
      [formGroup]="offeringInsertReqDto"
      (ngSubmit)="submit(selectedProgress)"
    >
      <div class="grid">
        <div class="col-12">
          <div class="grid">
            <div class="md:col-6 col-12">
              <div class="col-12">Start Date</div>
              <div class="col-12">
                <p-calendar
                  (onSelect)="convertStartDate($event, selectedProgress)"
                  styleClass="md:col-10 col-12 m-0 p-0"
                  [showTime]="true"
                  formControlName="startDateTemp"
                ></p-calendar>
              </div>
            </div>
            <div class="md:col-6 col-12">
              <div class="col-12">End Date</div>
              <div class="col-12">
                <p-calendar
                  (onSelect)="convertEndDate($event, selectedProgress)"
                  styleClass="md:col-10 col-12 m-0 p-0"
                  [showTime]="true"
                  formControlName="endDateTemp"
                ></p-calendar>
              </div>
            </div>
          </div>
          <div class="col-12">Description</div>
          <div class="col-12">
            <textarea
              pInputTextarea
              class="w-full"
              formControlName="description"
            ></textarea>
          </div>
          <div class="col-12">Location</div>
          <div class="col-12">
            <textarea
              pInputTextarea
              class="w-full"
              formControlName="offeringLocation"
            ></textarea>
          </div>
          <div class="col-12">For Offering Letter Email</div>

          <div class="col-12">Company Name Color</div>
          <div class="col-12 grid">
            <div class="col-2">
              <p-colorPicker
                formControlName="companyNameFontColor"
                (onChange)="onCompanyColorChange($event)"
              ></p-colorPicker>
            </div>
            <div class="col-6">
              <input
                pInputText
                type="text"
                formControlName="companyNameFontColor"
                (change)="onCompanyColorInputChange($event)"
              />
            </div>
          </div>

          <div class="col-12">Short Company Description</div>
          <div class="col-12">
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="companyDescription"
            ></textarea>
          </div>
          <div class="col-12">Company Name Color</div>
          <div class="col-12 grid">
            <div class="col-2">
              <p-colorPicker
                formControlName="companyDescriptionFontColor"
                (onChange)="onCompanyDescColorChange($event)"
              ></p-colorPicker>
            </div>
            <div class="col-6">
              <input
                pInputText
                type="text"
                formControlName="companyDescriptionFontColor"
                (change)="onCompanyDescColorInputChange($event)"
              />
            </div>
          </div>
          <div class="col-12">
            <p>Start to Work</p>
          </div>
          <div class="col-12">
            <p-calendar
              (onSelect)="convertStartWorkDate($event)"
              styleClass="md:col-10 col-12 m-0 p-0"
              [showTime]="true"
              formControlName="startWorkTemp"
            ></p-calendar>
          </div>

          <div class="col-12">
            <app-button
              label="Submit"
              btnType="submit"
              backgroundColor="var(--PRIMARY)"
            ></app-button>

            <app-button
              label="Cancel"
              btnType="button"
              classBtn="p-button-outlined p-button-secondary ml-4"
              border=""
              (click)="offeringModal = false"
            ></app-button>
          </div>
        </div>
      </div>
    </form>
  </p-dialog>

  <!-- Modal Hired -->
  <p-dialog
    header="Move To Hired"
    [(visible)]="hiredModal"
    [modal]="true"
    [style]="{ width: '90vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <pre>{{ hiringVacancyInsertReqDto.value | json }}</pre>
    <h4>Are you sure to hire this candidate?</h4>

    <ng-template pTemplate="footer">
      <div class="flex">
        <form
          [formGroup]="assessmentVacancyInsertReqDto"
          (ngSubmit)="submit(selectedProgress)"
        >
          <!-- <app-button label="SUBMIT" btnType="Submit"></app-button> -->
          <app-button
            label="Submit"
            btnType="submit"
            backgroundColor="var(--PRIMARY)"
          >
          </app-button>
        </form>
        <app-button
          label="Cancel"
          btnType="button"
          (click)="hiredModal = false"
          classBtn="p-button-outlined p-button-secondary ml-4"
          border=""
        >
        </app-button>
      </div>
    </ng-template>
  </p-dialog>
</div>
