::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: #89d4f4;
  color: white;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: var(--PRIMARY);
  border-color: var(--PRIMARY);
}

::ng-deep .p-badge.p-badge-success,
::ng-deep .p-button.p-fileupload-choose {
  background-color: var(--PRIMARY);
  border: none;
}
