<div
  class="flex align-items-center justify-content-center flex-column container"
>
  <h3>Create Question Topic</h3>
  <form
    [formGroup]="questionTopicInsertReqDto"
    (ngSubmit)="onCreate()"
    class="w-10"
  >
    <!-- Question Packet -->
    <div class="my-3 row align-items-center gy-md-4 gy-2 container">
      <div class="col-12 col-md-3">
        <label for="topic" class="form-label"
          >Question Topic <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          pInputText
          class="w-full"
          class="form-control col-12"
          id="topic"
          placeholder="Question Topic"
          formControlName="topicName"
        />
      </div>

      <div class="col-12 col-md-3">
        <label for="code" class="form-label"
          >Question Topic Code <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          pInputText
          class="form-control col-12"
          id="code"
          placeholder="Topic Code"
          formControlName="topicCode"
        />
      </div>
      <div class="col-12">
        <app-button
          type="submit"
          class="btn btn-primary"
          label="Create Topic"
        ></app-button>
      </div>
      <div class="col-12">
        <app-button
          routerLink="/questions/topic"
          classBtn="p-button-secondary p-button-text"
          label="Back"
        ></app-button>
      </div>
    </div>
  </form>
</div>
