<pre>
  {{ questionInsertReqDto.value | json }}
</pre>

<div class="min-h-screen w-10 m-auto mt-5">
  <app-button
    label="Back"
    routerLink="/questions/{{ jobId }}"
    icon="pi pi-angle-left"
    border=""
    classBtn="p-button-outlined p-button-secondary mb-3"
  ></app-button>

  <div class="px-6 shadow-3 py-2 relative">
    <form [formGroup]="questionInsertReqDto" id="insertForm">
      <div class="grid align-items-center m-2">
        <div class="field md:col-2 col-4">
          <label for="question"
            >Question <span class="text-red-500">*</span></label
          >
        </div>

        <div class="field md:col-8 col-8">
          <app-button
            label="Add"
            classBtn="p-button-outlined"
            (click)="addQuestion()"
            border=""
          >
          </app-button>
        </div>
        <div class="field md:col-12 col-12">
          <div formArrayName="questionsReq">
            <p-card
              *ngFor="let q of questionsReq.controls; let i = index"
              styleClass="mt-3 hover:shadow-4"
            >
              <div [formGroupName]="i">
                <div class="md:col-12 col-12 grid">
                  <div class="md:col-2 col-12">
                    Question Code <span class="text-red-500">*</span>
                  </div>
                  <div class="md:col-10 col-12">
                    <input
                      pInputText
                      type="text"
                      formControlName="questionCode"
                      class="md:col-12 col-12"
                    />
                  </div>
                  <div class="md:col-2 col-12">
                    Set Question <span class="text-red-500">*</span>
                  </div>
                  <div class="md:col-10 col-12">
                    <textarea
                      pInputTextarea
                      required
                      rows="3"
                      formControlName="questionBody"
                      class="md:col-12 w-full"
                    ></textarea>
                  </div>
                  <div class="md:col-12 col-12">
                    <div class="grid">
                      <div class="field md:col-2 col-8">
                        <label for="question-option-label"
                          >Question Option</label
                        >
                      </div>
                      <div class="field md:col-2 col-4">
                        <app-button
                          (click)="addOption(i)"
                          classBtn="p-button-outlined"
                          border=""
                          label="Add"
                        ></app-button>
                      </div>
                      <div class="md:col-10 md:col-offset-2 col-12">
                        <div formArrayName="options">
                          <div
                            *ngFor="
                              let a of questionOptionInsertReq(i).controls;
                              let optionIndex = index
                            "
                          >
                            <div [formGroupName]="optionIndex" class="grid">
                              <div class="col-8">
                                <input
                                  pInputText
                                  type="text"
                                  id="answer-option-label{{ i }}-{{
                                    optionIndex
                                  }}"
                                  placeholder="Option Label"
                                  formControlName="optionLabel"
                                  class="w-full"
                                />
                              </div>
                              <div class="col-4">
                                <p-dropdown
                                  formControlName="isCorrect"
                                  [options]="options"
                                  optionLabel="label"
                                  optionValue="value"
                                  placeholder="Set Correct"
                                ></p-dropdown>
                              </div>
                              <div class="col-12">
                                <app-button
                                  label="Delete Option"
                                  (click)="removeAnswerOption(i, optionIndex)"
                                  classBtn="p-button-outlined p-button-danger"
                                  border=""
                                ></app-button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="card-footer flex flex-row-reverse md:col-12 col-12"
                  >
                    <app-button
                      (click)="removeQuestion(i)"
                      label="Delete Question"
                      classBtn="p-button-outlined p-button-danger"
                      border=""
                    ></app-button>
                  </div>
                </div>
              </div>
            </p-card>
          </div>
        </div>

        <div class="col-12">
          <app-button
            class="my-1"
            label="Create"
            [isDisabled]="questionInsertReqDto.valid"
            [loading]="loading"
            backgroundColor="var(--PRIMARY)"
            (click)="submit()"
          ></app-button>
        </div>
      </div>
    </form>
  </div>
</div>
