<pre>{{ questionInsertReqDto.value | json }}</pre>
<div class="container-md">
    <form [formGroup]="questionInsertReqDto" id="insertForm">
        <div class="grid align-items-center m-2">
            <div class="field md:col-2 col-4">
                <label for="question">Question <span class="text-red-500">*</span></label>
            </div>

            <div class="field md:col-8 col-8">
                <p-button (onClick)="addQuestion()" label="Add" ></p-button>
            </div>
            <div class="field md:col-12 col-12">
                <div formArrayName="questionsReq">
                    <p-card *ngFor="let q of questionsReq.controls; let i = index;" styleClass="mt-3 hover:shadow-4">
                        <div [formGroupName]="i">
                            <div class="md:col-12 col-12 grid">
                                <div class="md:col-2 col-12">
                                    Question Code <span class="text-red-500">*</span>
                                </div>
                                <div class="md:col-10 col-12">
                                    <input pInputText type="text" formControlName="questionCode" class="md:col-12 col-12">
                                </div>
                                <div class="md:col-2 col-12">
                                    Set Question <span class="text-red-500">*</span>
                                </div>
                                <div class="md:col-10 col-12">
                                    <textarea pInputTextarea required rows="3" formControlName="questionBody" class="md:col-12 w-full"></textarea>
                                </div>
                                <div class="md:col-12 col-12">
                                    <div class="grid">
                                        <div class="field md:col-2 col-8">
                                            <label for="question-option-label">Question Option</label>
                                        </div>
                                        <div class="field md:col-2 col-4">
                                            <p-button (onClick)="addOption(i)" label="Add"></p-button>
                                        </div>    
                                        <div class="md:col-10 md:col-offset-2 col-12">
                                            <div formArrayName="options">
                                                <div *ngFor="let a of questionOptionInsertReq(i).controls; let optionIndex = index;">
                                                    <div [formGroupName]="optionIndex" class="grid">
                                                        <div class="md:col-5 col-12">
                                                            <input pInputText type="text" 
                                                                    id="answer-option-label{{i}}-{{optionIndex}}" placeholder="Option Label"
                                                                    formControlName="optionLabel" class="w-full">
                                                        </div>
                                                        <div class="md:col-2 col-6">
                                                            <p-dropdown formControlName="isCorrect" [options]="options" optionLabel="label" optionValue="value"  placeholder="Set Correct"></p-dropdown>
                                                        </div>
                                                        <div class="md:col-5 col-6">
                                                            <p-button styleClass="p-button-danger" label="Delete Option"  (click)="removeAnswerOption(i, optionIndex)" ></p-button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer flex flex-row-reverse md:col-12 col-12">
                                    <p-button (onClick)="removeQuestion(i)" label="Delete Question" styleClass="p-button-danger"></p-button>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>

            <div class="col-12">
                <p-button class="m-1" label="CREATE" [disabled]="questionInsertReqDto.invalid" [loading]="loading" (onClick)="submit()"></p-button>
                <p-button class="m-1" label="BACK" styleClass="p-button-secondary" routerLink="/question"></p-button>
            </div>
        </div>
    </form>
</div>