<pre>
  {{ filesCandidateInsert.value | json }}
</pre>

<div
  class="d-flex justify-content-center align-items-center flex-column start mt-2 mb-4"
>
  <h3>Input Requirement Files</h3>
  <form [formGroup]="filesCandidateInsert" (ngSubmit)="onSubmit()">
    <!-- Input Requirement Files -->
    <div
      class="my-3 grid col-12 justify-content-center align-items-center md:gy-4 gy-3 container"
    >
      <div
        *ngFor="let f of filesCandidateTypes; let i = index"
        formArrayName="data"
        class="grid col-12"
      >
        <div class="col-12 md:col-3">
          <label for="cv" class="form-label"
            >Input {{ f.typeName }} <span class="text-danger">*</span></label
          >
        </div>
        <div class="col-12 md:col-9">
          <p-fileUpload
            mode="basic"
            chooseLabel="Choose File"
            #file
            (onSelect)="fileUpload($event, f.id, i)"
          ></p-fileUpload>
        </div>
      </div>
      <app-button type="submit" label="Submit Files"></app-button>
    </div>
  </form>
</div>
