<div
  class="flex align-items-center justify-content-center flex-column container"
>
  <h3>Create Question Packet</h3>
  <form
    [formGroup]="questionPacketInsertReqDto"
    (ngSubmit)="onCreate()"
    class="w-10"
  >
    <!-- Question Packet -->
    <div class="my-3 row align-items-center gy-md-4 container gy-2">
      <div class="col-12 col-md-3">
        <label for="packet" class="form-label"
          >Question Packet <span class="text-red-600"> *</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          class="form-control col-12"
          id="packet"
          pInputText
          placeholder="Question Packet"
          formControlName="packetQuestionName"
        />
      </div>
      <div class="col-12 col-md-3">
        <label for="code" class="form-label"
          >Question Packet Code<span class="text-red-600"> *</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          class="form-control col-12"
          id="code"
          pInputText
          placeholder="Packet Code"
          formControlName="packetQuestionCode"
        />
      </div>
      <div class="col-12">
        <app-button type="submit" label="Create Packet"></app-button>
      </div>
      <div class="col-12">
        <app-button
          routerLink="/questions/packet"
          classBtn="p-button-secondary p-button-text"
          label="Back"
        ></app-button>
      </div>
    </div>
  </form>
</div>
