<pre>{{companyInsertReqDto.value | json}}</pre>
<p-card styleClass="mt-5 mx-7">
    <div class="flex flex-column justify-content-center pl-2 pr-2">
      <p class="text-5xl">Create New Company</p>
      <form [formGroup]="companyInsertReqDto">
        <div class="grid">
            <div class="md:col-12 col-12">
                <label for="company-code">Company Code <span class="text-red-700">*</span></label>
            </div>
            <div class="md:col-12 col-12">
                <input type="text" pInputText id="company-code" class="w-full"
                  required formControlName="companyCode">
            </div>
            
            <div class="md:col-12 col-12">
                <label for="company-name">Company Name <span class="text-red-700">*</span></label>
            </div>
            <div class="md:col-12 col-12">
                <input type="text" pInputText id="company-name" class="w-full"
                  required formControlName="companyName">
            </div>
  
            <div class="md:col-12 col-12">
                <label for="phone" class="form-label">Phone <span class="text-red-700">*</span></label>
            </div>
            <div class="md:col-12 col-12">
                <input type="text" pInputText id="phone" class="w-full" required formControlName="phoneNumber">
            </div>
  
            <div class="md:col-12 col-12">
                <label for="address" class="form-label">Address <span class="text-red-700">*</span></label>
            </div>
            <div class="md:col-12 col-12">
                <textarea id="address" rows="3" pInputTextarea class="w-full"
                required formControlName="address"></textarea>
            </div>

            <div class="md:col-12 col-12">
                <label for="description" class="form-label">Description <span class="text-red-700">*</span></label>
            </div>
            <div class="md:col-12 col-12">
                <textarea id="description" rows="3" pInputTextarea class="w-full"
                required formControlName="description"></textarea>
            </div>
  
            <div class="md:col-12 col-12">
                <label for="company-picture" class="form-label">Profile Picture</label>
            </div>
            <div class="md:col-12 col-12">
                <p-fileUpload #file mode="basic" chooseLabel="Upload" accept="image/*" (onSelect)="fileUpload($event)"></p-fileUpload>
            </div>
        </div>
        <div class="mt-2">
          <!-- <app-button label="SUBMIT" btnType="Submit"></app-button> -->
          <button pButton pRipple type="submit" (click)="submit()" >SUBMIT</button>
          <button pButton pRipple routerLink="/companies" class="p-button-secondary ml-2">BACK</button>
        </div>
      </form>
    </div>
  </p-card>