<!-- buat super admin -->
<p-table [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines mt-3">
  <ng-template pTemplate="caption" >
    <div class="flex align-items-center justify-content-between gap-1">
        <div>
            User Lists
        </div>
        <div>
            <p-button routerLink="/users/create" icon="pi pi-plus" label="Add User" styleClass="mr-2"></p-button>
        </div>
    </div>
    <ng-template pTemplate="header">
        <tr>
            <th scope="col">No. </th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Company</th>
            <th scope="col">Role</th>
        </tr>
    </ng-template>
    
</ng-template>
</p-table>