<div class="w-10 m-auto min-h-screen">
  <app-button
    routerLink="/users/create"
    icon="pi pi-plus"
    label="Add User"
    backgroundColor="var(--PRIMARY)"
    classBtn="my-3"
  ></app-button>
  <p-table
    #dt1
    [value]="users"
    dataKey="id"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'profileName',
      'profilePhone',
      'profileAddress',
      'companyName',
      'roleName'
    ]"
    selectionMode="single"
    styleClass="p-datatable-gridlines p-datatable-striped"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:align-items-center">
        <h2>User List</h2>
        <div class="p-input-icon-left m-0 md:ml-auto flex mt-3 md:mt-0">
          <i class="pi pi-search"></i>
          <input
            class="w-full"
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" class="md:col-1">No.</th>
        <th pSortableColumn="profileName" scope="col" class="md:col-2">
          <div class="flex align-items-center">
            Name
            <p-sortIcon field="profileName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="phoneNumber" scope="col" class="md:col-1">
          <div class="flex align-items-center">
            Phone
            <p-sortIcon field="phoneNumber"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="profileAddress" scope="col" class="md:col-5">
          <div class="flex align-items-center">
            Address
            <p-sortIcon field="profileAddress"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="companyName" scope="col" class="md:col-2">
          <div class="flex align-items-center">
            Company
            <p-sortIcon field="companyName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="roleName" scope="col" class="md:col-1">
          <div class="flex align-items-center">
            Role
            <p-sortIcon field="roleName"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ user.profileName }}</td>
        <td>
          {{
            user.phoneNumber ? user.phoneNumber : "Phone number not added yet!"
          }}
        </td>
        <td>
          {{
            user.profileAddress ? user.profileAddress : "Address not added yet!"
          }}
        </td>
        <td>{{ user.companyName }}</td>
        <td>{{ user.roleName }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
