<div
  class="flex align-items-center justify-content-center flex-column container mt-4"
>
  <h3>Change Password</h3>
  <form [formGroup]="userPasswordDto" (ngSubmit)="onSubmit()">
    <!-- Change Password -->
    <div class="my-3 grid align-items-center gy-md-4 gy-2">
      <!-- old password -->
      <div class="col-12 col-md-3">
        <label for="oldpassword" class="form-label"
          >Old Password <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="password"
          class="form-control col-12"
          id="oldpassword"
          placeholder="Old Password"
          pInputText
          formControlName="oldPassword"
        />
      </div>

      <!-- new password -->
      <div class="col-12 col-md-3">
        <label for="newpassword" class="form-label"
          >New Password <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="password"
          class="form-control col-12"
          pInputText
          id="newpassword"
          placeholder="New Password"
          formControlName="newPassword"
        />
      </div>

      <!-- confirm new password -->
      <div class="col-12 col-md-3">
        <label for="confirmnewpassword" class="form-label"
          >Confirm New Password <span class="text-red-600">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="password"
          class="form-control col-12"
          pInputText
          id="confirmnewpassword"
          placeholder="New Password"
          formControlName="confirmNewPassword"
        />
      </div>
      <div class="col-12">
        <app-button
          type="submit"
          [loading]="loading"
          label="Change Password"
        ></app-button>
      </div>
      <div class="col-12">
        <app-button
          type="button"
          routerLink="/dashboard"
          classBtn="p-button-secondary p-button-text"
          label="Cancel"
        >
        </app-button>
      </div>
    </div>
  </form>
</div>
