/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


:root {
  --PRIMARY: #3fbdf1;
  --SECONDARY: #89d4f4;
  --DARK: #2e2e2e;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

.PRIMARY_COLOR {
  color: var(--PRIMARY);
}

.SECONDARY_COLOR {
  color: var(--SECONDARY);
}

.DARK_COLOR {
  color: var(--DARK);
}

.CARD {
  background-color: #3fbdf1;
}
